/********** LIST STYLES **********/

.uiList {
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-radius: $borderRoundedSoft;
  margin: 1em;
  padding: 0;
}

.uiList__item {
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 0;
  padding: .5em .5em .5em 1em;
  list-style-position: inside;
  opacity: .6;
  cursor: pointer;
}

.uiList__item:hover {
  opacity: 1;
}

.list--unOrdered {
  list-style: none;
}


/* decorative styles  */

.uiList__item--unOrdered:before {
  content: "\f111";
  font-family: "FontAwesome";
  font-size: .75em;
  display: inline-block;
  color: $baseColorDark;
  width: 1.5em;
}

.list--primary {
  border-color: $baseColorDark;
}

.uiList__item--primary {
  border-color: $baseColorDark;;
}