

.sideBar{
  position:sticky;
  position: -webkit-sticky;
  width:25%;
  top:0px;
  height:100vh;
  margin: 0 20px 20px 20px;
  overflow-y:scroll;
  background-color: $invertDefaultColor;
  & a{
    @include lovehate($self:true);
  }
}

.sideBar__items{
  list-style-type: none;
}

.sideBar--scrollSpyActive{
  color:$baseColorMed;
}

main{
  width:75%;
  margin:auto;
}

.container{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}