.sideBar{
  position:sticky;
  position: -webkit-sticky;
  width:20%;
  top:0px;
  height:100vh;
  overflow-y:auto;
  background-color: $invertDefaultColor;
}

.sideBar__items{
  list-style-type: none;
}

main{
  width:80%;
}

.container{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

body {
  position:absolute;
  height: auto;
  top: 0;
  bottom: 0;
  width: auto;
  left: 0;
  right: 0;
  overflow: auto;
}