.teaserCard{
  @extend %card;
}

.teaserCard__categoryHeader{
  left:10px;
  position:relative;
}

.teaserCard__image{
 @extend %card__image;
}

.teaserCard__dateText{
  font-family: $roboto-slab;
  left:18px;
  position:relative;
  top:-60px;
}

.teaserCard__articleHeader{
  font-family: $roboto-slab;
  left: 20px;
  position: relative;
  top: -60px;
}


.teaserCard__horizontalLine{
  border-width: 3px;
  margin: 20px;
  position: relative;
  top: -65px;
}

.teaserCard__content{
  font-family: $open-sans;
  left: 20px;
  position: relative;
  top: -60px;
  width: 84%;
}

.teaserCard__button{
  border: 1px solid;
  border-radius: 3px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  top: -70px;
  left: 150px;
}

