
/* ***************************** ACCORDION123 *********************** */
.accordion {
  max-width: 475px;
  width: 100%;
  margin: 20px;
}

.accordion * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accordion__section {
  position: relative;
  width: 100%;
}

.accordion__radiobtn {
  position: absolute;
  z-index: -999;
  opacity: 0;

}


/* Accordion heading */
.accordion__heading { 
  background-color: #202020;
  border-bottom: 2px solid #fff;
  color: #BDBDBD;
  display: block;
  font-weight: bold;
  line-height: 3;
  padding: 0px 10px;
}

.accordion__heading--underline {
  background-color: #fff;
  color: #202020;
  border-bottom: 2px solid #BDBDBD;
}

.accordion__heading--nounderline {
  border-bottom: 4px solid #fff;
}

.accordion__radiobtn:checked + .accordion__heading {
  border-bottom: 2px solid #EA1F68;
}

.accordion__radiobtn:checked + .accordion__heading {
  color: #FFF;
}

.accordion__radiobtn:checked + .accordion__heading--underline {
  color: #202020;
}

.accordion__radiobtn:checked + .accordion__heading--nounderline {
  border-bottom: 4px solid #EA1F68;
}

.accordion__heading:hover {
  border-bottom: 2px solid #EA1F68;
  transition: 0.4s ease;
}

.accordion__heading--underline:hover {
  color: #EA1F68;
  transition: .4s ease;
}

.accordion__heading--nounderline:hover {
  border-bottom: 4px solid #EA1F68;
  transition: .4s ease;
}

/* Accordion arrow */
.accordion__chevron {
  display: inline-block;
  /*color: #BDBDBD;*/
}

.accordion__chevron--right {
 float: right;
}

.accordion__radiobtn:checked + .accordion__heading .accordion__chevron {
  transition: .6s ease;
  transform: rotate(180deg);
}

/* Accordion Icon */
.accordion__chevron > i {
  color: #BDBDBD;
}

.accordion__chevron--color > i {
  color: #EA1F68;
}

.accordion__radiobtn:checked + .accordion__heading .accordion__chevron--color > i {
  color: #fff;
}

/* Accordion circle */
.accordion__circle {
  padding: 5px;
  border: 1px solid #EA1F68;
  border-radius: 50%;
}

.accordion__radiobtn:checked + .accordion__heading .accordion__circle {
  background-color: #EA1F68;
  transition: background .6s ease;
}

/* Accordion content */
.accordion__content {
  line-height: 1.25rem;
  max-height: 0;
  overflow: hidden;
  transition: .6s ease;
}

.accordion__radiobtn:checked ~ .accordion__content { 
  max-height: 200px;
  border: 1px solid #202020;
  border-top:none;
}

.accordion__radiobtn:checked ~ .accordion__content--noborder {
 border: none;
}

.accordion__radiobtn:checked ~ .accordion__content--bgdark { 
  background-color: #202020;
}

/* Accordion image */
.accordion__image {
  border-radius: 5px;
  float: left;
  margin: 35px 30px 30px 35px;
}

/* Accordion subheading */
.accordion__subheading {
  font-size: 18px;
  font-weight: bold;
  margin: 35px 35px 10px 0;
}

.accordion__subheading--pink {
  color: #EA1F68;
}

/* Accordion discription */
.accordion__discription {
  color: #6D6D6D;
  font-size: 10px;
  margin: 0 35px 0 0;
  max-height: 5rem;
  overflow: hidden;
}

.accordion__discription--white {
  color: #BDBDBD;
}