.altCarousel{
	@include componentBoxLarge();
	width: 95%;
	max-width: 1200px;
	position: relative;
	display: flex;
}

.altCarousel__image{
	width: 0;
	opacity: 0;
	transition: opacity 1s ease-in;
}

.altCarousel__switch{
	display: none;
}

.altCarousel__viewer{
	display: flex;
	justify-content: center;
	overflow: hidden;
	padding: 20px;
	width: 100%;
}

.altCarousel__switchLeft, .altCarousel__switchRight{
	height: 100%;
	padding: 10px;
	border-color: $baseColorLight;
	border-style: solid;
	display: flex;
	align-items: center;
}

.altCarousel__switchRight{
		border-radius: 0 5px 5px 0;
		border-width: 1px 1px 1px 0;
}
.altCarousel__switchLeft{
		border-radius: 5px 0 0 5px;
		border-width: 1px 0 1px 1px;

}

.altCarousel__arrowRight, .altCarousel__arrowLeft{
	cursor: pointer;
}
.altCarousel__arrowRight:hover > i{
	color: white;
}

.altCarousel__arrowLeft:hover > i{
	color: white;
}

.altCarousel__switchLeft:hover, .altCarousel__switchRight:hover{
	height: 100%;
	padding: 10px;
	background-color: $baseColorMed;
	display: flex;
	align-items: center;
	color: white;
}

.altCarousel__switchLeft:hover > i, .altCarousel__switchRight:hover > i{
	color: white;
}



[class*="altCarousel__arrow"]{
	display: none;
}
.altCarousel .altCarousel__switch:nth-of-type(1):checked ~ .altCarousel__viewer .altCarousel__switchLeft .altCarousel__arrowLeft:nth-of-type(3),
.altCarousel .altCarousel__switch:nth-of-type(2):checked ~ .altCarousel__viewer .altCarousel__switchLeft .altCarousel__arrowLeft:nth-of-type(1),
.altCarousel .altCarousel__switch:nth-of-type(3):checked ~ .altCarousel__viewer .altCarousel__switchLeft .altCarousel__arrowLeft:nth-of-type(2)
{
  	display: inline;
}

.altCarousel .altCarousel__switch:nth-of-type(1):checked ~ .altCarousel__viewer .altCarousel__switchRight .altCarousel__arrowRight:nth-of-type(2),
.altCarousel .altCarousel__switch:nth-of-type(2):checked ~ .altCarousel__viewer .altCarousel__switchRight .altCarousel__arrowRight:nth-of-type(3),
.altCarousel .altCarousel__switch:nth-of-type(3):checked ~ .altCarousel__viewer .altCarousel__switchRight .altCarousel__arrowRight:nth-of-type(1)
{
  	display: inline;
}


@for $i from 1 through 3{
	.altCarousel__switch:nth-of-type(#{$i}):checked ~ .altCarousel__viewer > .altCarousel__image:nth-of-type(#{$i})  {
		width: 100%;
		opacity: 1;
	} 
}
