.button--primary{
  background-color: $baseColorMed;
  border-radius: 3px;
  color:$invertDefaultColor;
  display: inline-block;
  left: 147px;
  padding: 10px 18px;
  position: relative;
  top: -50px;
}