.button--primary{
  @extend %button;
  background-color: $baseColorMed;
  color:$invertDefaultColor;
  display: inline-block;
  position: relative;
  transition:$transitionFast background-color;
  &:hover{
    background-color: $baseColorLight;
  }
}