.colorSwatch__container{
	margin: 5px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.colorSwatch__colorBlock{
	border: 1px solid black;
	height: 100px;
	width: 100px;
}

.colorSwatch__colorName{
	text-align: center;
	margin-top: 5px;
}

.colorSwatch__colorBlock--baseColorDark{
	background-color: $baseColorDark;
}

.colorSwatch__colorBlock--baseColorMed{
	background-color: $baseColorMed;
}

.colorSwatch__colorBlock--baseColorLight{
	background-color: $baseColorLight;
}

.colorSwatch__colorBlock--baseColorAlt{
	background-color: $baseColorAlt;
}

.colorSwatch__colorBlock--defaultColor{
	background-color: $defaultColor;
}

.colorSwatch__colorBlock--defaultColorLight{
	background-color: $defaultColorLight;
}

.colorSwatch__colorBlock--invertDefaultColor{
	background-color: $invertDefaultColor;
}

.colorSwatch__colorBlock--altColor{
	background-color: $altColor;
}