.componentContainer__display{
	display: flex;
	align-items: flex-start;
	flex-flow: row wrap;
}

.componentContainer__display--col{
	display: flex;
	align-items: flex-start;
	flex-flow: column wrap;
}
