.contactCard{
  @extend %card;
}

.contactCard__image{
  @extend %card__image;
}

.contactCard__profileImage{
  position: relative;
  border: 1px solid white;
  border-radius: 50%;
  top: -60px;
  width: 120px;
  display: block;
  margin: 0 auto;
}

.contactCard__horizontalLine{
  border:2px solid $altColor;
  margin: 20px;
  position: relative;
}

.contactCard__name{
  margin: -20px 0 20px 0;
  text-align: center;
}

.contactCard__content{
  color:$defaultColorLight;
  font-family: $open-sans;
  text-align: center;
}