.contactCard{
  @extend %card;
}

.contactCard__image{
  @extend %card__image;
}

.contactCard__profileImage{
  position: relative;
  border-radius: 50%;
  top: -60px;
  width: 120px;
  display: block;
  margin: 0 auto;
}

.contactCard__horizontalLine{
  border:2px solid $altColor;
  margin: 20px;
  position: relative;
}

.contactCard__name{
  color:$baseColorMed;
  margin: -20px 0 20px 0;
  text-align: center;
}

.contactCard__content{
  color:$defaultColorLight;
  @include fontContent;
  text-align: center;
}

.contactCard__mailIcon::before{
  content: "\f003";
  font-family: "FontAwesome";
}

.contactCard__gitHubIcon::before{
  content: "\f09b";
  font-family: "FontAwesome";
}

.contactCard__twitterIcon::before{
  content: "\f099";
  font-family: "FontAwesome";
}



//todo Remove font includes once fonts are implemented globally.