.linearClock{
  width: 600px;
  position: relative;
  display: flex;
  justify-content: space-around;
  border: 2px solid none;
  margin: 20px 10px
}

.linearClock__hourMark{
  width: 20px;
  border: 1px solid white;
  text-align: center;
  color: $defaultColor;

}
.linearClock__timeIndicator{
  width: 4px;
  background-color: $baseColorLight;
  opacity: 0.5;
  height: 40px;
  position: absolute;
  left: 0;
    top: -10px;
}
