/********** LIST STYLES **********/
/* Compiled on #{timestamp()} */
.uiList {
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-radius: $borderRoundedSoft;
  margin: 1em;
  padding: 0;
}

.uiList__item {
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 0;
  padding: .5em .5em .5em 1em;
  list-style-position: inside;
  opacity: .6;
  cursor: pointer;
}

.uiList__item:hover {
  opacity: 1;
}

.list--unOrdered {
  list-style: none;
}


/* decorative styles  */

.uiList__item--unOrdered:before {
  content: "\f111";
  font-family: "FontAwesome";
  font-size: .75em;
  display: inline-block;
  color: $baseColorDark;
  width: 1.5em;
}

.list--primary {
  border-color: $baseColorDark;
}

.uiList__item--primary {
  border-color: $baseColorDark;;
}

/* dark styles */
.uiList--dark {
      border-color: dimgray;
    }
    
    .uiList__item--dark {
      border-color: dimgray;
      border-width: 0 0 1px .5em;
      padding: .5em .5em .5em .5em;
      opacity: 1;
    }
    
    .uiList__item--dark:hover {
      padding: .5em .5em .5em .5em;
      border: solid #959595;
      border-width: 0 0 1px .5em;
      border-bottom-color: dimgray;
    }
    
    .uiList__item--dark:hover:before {
      color: #959595;
    }
    
    .uiList__item--dark:before {
      color: dimgray;
      margin-left: -5px;
    }
    
    .uiList__item--dark:first-child {
      border-top-left-radius: 2px;
    }
    
    .uiList__item--dark:last-child {
      border-bottom-left-radius: 2px;
    }