.searchBar{
	@include componentBoxSmall();
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  position: relative;
}

.searchBar--withSearchIndication{
  height: 120px;
  margin: 20px inherit;
}

.searchBar__searchingToggle{
  display:none;
}

.searchBar__searchInput{
	@include fontContent();
	font-size: 1.2rem;
	height: 2.2rem;
	border-radius: 0;
	padding: 0.4rem;
	margin: 0;
	border: none;
	border-bottom: 2px solid $baseColorLight;

	cursor: pointer;
}

.searchBar__searchInput:focus { 
    outline: none !important;
    border-bottom: 2px dashed $baseColorLight;
    border-radius: 0;
    box-shadow: none;
}

.searchBar__searchButton { 
   	@extend %button;
  	border:$borderDefault $baseColorMed;
  	background-color: $baseColorMed;
  	color:$invertDefaultColor;
  	height: 2.2rem;
  	margin: 0;
  	border-radius: 0 $borderRoundedSoft $borderRoundedSoft 0;
  	display: flex;
  	align-items: center;
  	&:hover{
    	background-color: $baseColorLight;
  	}
 	&:active{
    	background-color: $baseColorDark;
  	}
}

.searchBar__searchButton > i{
	margin-right: 0.3rem;
	color: $invertDefaultColor;
}

.searchBar__searchingBars{
  position: absolute;
  height: 100px;
  width: 5px;
  background-color: $baseColorLight;
  top: 20px;
  z-index: -5;
}

@for $i from 1 through 12{
  .searchBar__searchingBars:nth-of-type(#{$i}){
    left: #{20+ $i * 15}px;
  }
}
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(1), 
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(4),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(9), 
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(11) {
  animation-name: bobbleA;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 0.9s; 
}

.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(2),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(5),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(7),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(10){
  animation-name: bobbleB;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 1.2s; 
}

.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(3),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(6),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(8),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(12) {
  animation-name: bobbleC;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 2s; 
}

@keyframes bobbleA {
  0% {
    top: 0px; 
  }
  25% {
    top: -30px; 
  }
  50% {
    top: 0px; 
  } 
  75% {
    top: 30px; 
  } 
  100%{
    top: 0px; 
  }

}


@keyframes bobbleB {
  0% {
    top: 0px; 
  }
  40%{
    top:-20px;
  }
  70% {
    top: 20px; 
  } 
  100%{
    top: 0px; 
  }

}

@keyframes bobbleC {
  0% {
    top: 0px; 
  }
  40%{
    top:-10px;
  }
  70% {
    top: 20px; 
  } 
  100%{
    top: 0px; 
  }
}
