/********** Table Styles **********/
/* Compiled on #{timestamp()} */
.uiTableContainer {
  border: $borderDefault $baseColorDark;
  display: inline-block;
  border-radius: $borderRoundedSoft;
}

.uiTable {
  border-collapse: collapse;
}

.uiTable__row {
  border-bottom: $borderDefault $baseColorDark;
}

.uiTable_footRow:last-child {
  border-bottom: none;
}

.uiTable__cell {
  padding: .75em;
}


/*    align all cell contents    */

.uiTable--left {
  text-align: left;
}

.uiTable--center {
  text-align: center;
}

.uiTable--right {
  text-align: right;
}


/*    align individual cell contents    */

.uiTable__cell--left {
  text-align: left;
}

.uiTable__cell--center {
  text-align: center;
}

.uiTable__cell--right {
  text-align: right;
}
/* dark style */
    .uiTable__cell--dark {
      background-color: dimgray;
      color: white;
    }
    .uiTableContainer--dark {
      border-color: dimgray;
    }
    .uiTable_bodyRow--dark {
      border-color: dimgray;
    }
    .uiTable_bodyRow--dark:nth-child(even) {
      background-color: lightgray;
    }
    .uiTable_headRow--dark {
      border-color: dimgray;
    }