
.teaserCard{
  @extend %card;
}

.teaserCard__categoryHeader{
  color:$invertDefaultColor;
  left:10px;
  position:absolute;
}

.teaserCard__image{
 @extend %card__image;
}

.teaserCard__dateText{
  color:$altColor;
  @include fontContent;
  left:18px;
  position:relative;
}

.teaserCard__articleHeader{
  @include fontHeaderBold;
  left: 20px;
  position: relative;
}


.teaserCard__horizontalLine{
  border:2px solid $baseColorLight;
  margin: 20px;
  position: relative;
  top: -5px;
}

.teaserCard__content{
  color:$defaultColorLight;
  @include fontContent;
  left: 20px;
  position: relative;
  width: 84%;
}

//todo add Box Model mixins