@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700");
* {
  box-sizing: border-box;
  color: #202020; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 95%;
  margin: 0 auto; }

main {
  margin: 20px;
  padding: 10px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", serif;
  font-weight: 400; }

.button--primary, .button--primary--round, .button--primarySolid, .button--primarySolid--round, .button--disabled, .button--disabled--round, .searchBar__searchButton {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: 20px;
  padding: 10px;
  transition: 0.2s background-color; }

.actionCard, .contactCard, .teaserCard {
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  margin: 40px;
  position: relative;
  width: 290px; }

.contactCard__image, .teaserCard__image {
  position: relative;
  z-index: -1;
  max-width: 100%; }

.actionCard__content, .teaserCard__content {
  color: #6D6D6D;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 10px;
  padding: 5px;
  line-height: 1.4em; }

.right {
  float: right; }

.left {
  float: left; }

.center {
  margin-left: auto;
  margin-right: auto; }

.accordion * {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.accordionsection {
  border: 2px solid grey; }

.accordion {
  margin: 20px;
  padding: 10px;
  width: 475px;
  list-style-type: none; }

.accordion__image {
  border-radius: 5px;
  float: left;
  margin-right: 30px; }

.accordion__content {
  line-height: 1.25rem;
  display: none;
  height: 200px;
  padding: 35px; }

.accordion__section:target .accordion__content {
  display: block;
  border: 1px solid #000;
  border-top: 0; }

.accordion__section:target .accordion__heading {
  color: #fff;
  border: none;
  border-bottom: 3px solid #EA2068; }

.accordion__heading {
  color: #BDBDBD;
  text-decoration: none;
  display: block;
  padding: 16px;
  background-color: #202020;
  border-bottom: 1px solid #fff; }

.accordion__heading:hover {
  background-color: #6D6D6D;
  transition: all 0.5s ease; }

.accordion__symbol {
  display: inline-block;
  transform: rotate(-45deg);
  color: #BDBDBD; }

.accordion__section:target .accordion__symbol {
  position: relative;
  right: -3px;
  transform: rotate(135deg);
  transition: all 0.75s ease; }

.accordion__subheading {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px; }

.accordion__discription {
  color: #6D6D6D;
  font-size: 10px;
  overflow: hidden;
  height: 5rem; }

/* ***** ACCORDION 2 ***** */
.accordion__content--white {
  line-height: 1.25rem;
  display: none;
  height: 200px;
  padding: 35px; }

.accordion__section:target .accordion__content--white {
  display: block;
  border-top: 0; }

.accordion__heading--white {
  color: black;
  text-decoration: none;
  display: block;
  margin-bottom: 1px;
  padding: 16px;
  /*box-shadow: 0 3px 0 0 #BDBDBD;*/
  border-bottom: 3px solid #BDBDBD; }

.accordion__section:target .accordion__heading--white {
  border: none;
  /*box-shadow: 0 3px 0 0 #EA2068;*/
  border-bottom: 3px solid #EA1F68; }

.accordion__symbol--white {
  display: inline-block;
  transform: rotate(-45deg);
  color: #BDBDBD; }

.accordion__section:target .accordion__symbol--white {
  position: relative;
  right: -3px;
  transform: rotate(135deg);
  transition: all 0.75s ease; }

/* ***** ACCORDION 3 ***** */
.accordion__content--black {
  line-height: 1.25rem;
  display: none;
  height: 200px;
  padding: 35px; }

.accordion__section:target .accordion__content--black {
  background-color: #202020;
  display: block;
  border-top: 0; }

.accordion__heading--black {
  color: black;
  text-decoration: none;
  display: block;
  margin-bottom: 1px;
  padding: 16px; }

.accordion__section:target .accordion__heading--black {
  border-bottom: 5px solid #EA1B64;
  margin-bottom: 0; }

.accordion__circle--black {
  top: -3px;
  border-radius: 50%;
  border: 2px solid #EA1B64;
  float: right;
  height: 26px;
  position: relative;
  width: 26px; }

.accordion__symbol--black {
  position: relative;
  top: -1px;
  right: -4px;
  color: #EA1B64;
  display: inline-block;
  font-weight: bold;
  transform: rotate(-45deg); }

.accordion__section:target .accordion__symbol--black {
  color: #FFF; }

.accordion__section:target .accordion__circle--black {
  transform: rotate(180deg);
  transition: all 0.75s ease;
  background-color: #EA1B64; }

.accordion__subheading--black {
  color: #EA1B64;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px; }

.accordion__discription--black {
  color: #BDBDBD;
  font-size: 10px;
  overflow: hidden;
  height: 5rem; }

.actionCard__header {
  position: relative;
  background-color: #EA1B64;
  height: 70px; }

.actionCard__content {
  text-align: center; }

.actionCard__btnContainer {
  display: flex;
  justify-content: space-around; }

.actionCard__title {
  text-align: center;
  font-weight: 700; }

.actionCard__header > i {
  position: absolute;
  right: 15px;
  top: 12px;
  color: #FFFFFF;
  opacity: .5; }

.button--primary, .button--primary--round {
  background-color: #FFFFFF;
  border: 2px solid #EA1B64;
  color: #EA1B64; }
  .button--primary:hover, .button--primary--round:hover {
    background-color: #EF4381;
    color: #FFFFFF; }
  .button--primary:active, .button--primary--round:active {
    background-color: #C31F5D;
    color: #FFFFFF; }
  .button--primary > i[class*="fa-"], .button--primary--round > i[class*="fa-"] {
    color: #EA1B64;
    margin-right: 6px; }
  .button--primary:hover > i[class*="fa-"], .button--primary--round:hover > i[class*="fa-"] {
    color: #FFFFFF; }
  .button--primary:active > i[class*="fa-"], .button--primary--round:active > i[class*="fa-"] {
    color: #FFFFFF; }

.button--primarySolid, .button--primarySolid--round {
  border: 2px solid #EA1B64;
  background-color: #EA1B64;
  color: #FFFFFF; }
  .button--primarySolid:hover, .button--primarySolid--round:hover {
    background-color: #EF4381; }
  .button--primarySolid:active, .button--primarySolid--round:active {
    background-color: #C31F5D; }
  .button--primarySolid > i[class*="fa-"], .button--primarySolid--round > i[class*="fa-"] {
    color: #FFFFFF;
    margin-right: 6px; }
  .button--primarySolid:hover > i[class*="fa-"], .button--primarySolid--round:hover > i[class*="fa-"] {
    color: #FFFFFF; }
  .button--primarySolid:active > i[class*="fa-"], .button--primarySolid--round:active > i[class*="fa-"] {
    color: #FFFFFF; }

.button--disabled, .button--disabled--round {
  background-color: #BDBDBD;
  border: 2px solid #6D6D6D;
  color: #FFFFFF; }
  .button--disabled:hover, .button--disabled--round:hover {
    background-color: #BDBDBD;
    color: #FFFFFF; }
  .button--disabled:active, .button--disabled--round:active {
    background-color: #BDBDBD;
    color: #FFFFFF; }

.button--primary--round,
.button--primarySolid--round,
.button--disabled,
.button--disabled--round {
  border-radius: 20px; }

.buttonGroup {
  margin: 10px;
  padding: 5px; }
  .buttonGroup > a[class*="button"] {
    margin: -3px; }
  .buttonGroup > a[class*="button"]:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .buttonGroup > a[class*="button"]:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .buttonGroup > a[class*="button"]:not(:first-child):not(:last-child) {
    border-radius: 0; }

.colorSwatch__container {
  margin: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.colorSwatch__colorBlock {
  border: 1px solid black;
  height: 100px;
  width: 100px; }

.colorSwatch__colorName {
  text-align: center;
  margin-top: 5px; }

.colorSwatch__colorBlock--baseColorDark {
  background-color: #C31F5D; }

.colorSwatch__colorBlock--baseColorMed {
  background-color: #EA1B64; }

.colorSwatch__colorBlock--baseColorLight {
  background-color: #EF4381; }

.colorSwatch__colorBlock--baseColorAlt {
  background-color: #CF477C; }

.colorSwatch__colorBlock--defaultColor {
  background-color: #202020; }

.colorSwatch__colorBlock--defaultColorLight {
  background-color: #6D6D6D; }

.colorSwatch__colorBlock--invertDefaultColor {
  background-color: #FFFFFF; }

.colorSwatch__colorBlock--altColor {
  background-color: #BDBDBD; }

.componentContainer__display {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap; }

.componentContainer__display--col {
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap; }

.contactCard__profileImage {
  position: relative;
  border-radius: 50%;
  top: -60px;
  width: 120px;
  display: block;
  margin: 0 auto; }

.contactCard__horizontalLine {
  border: 2px solid #BDBDBD;
  margin: 20px;
  position: relative; }

.contactCard__name {
  color: #EA1B64;
  font-weight: 700;
  margin: -20px 0 20px 0;
  text-align: center; }

.contactCard__content {
  color: #6D6D6D;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-weight: 700;
  text-align: center; }

.contactCard__iconContainer {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.contactCard__mailIcon::before,
.contactCard__gitHubIcon::before,
.contactCard__twitterIcon::before {
  display: inline;
  font-family: "FontAwesome";
  font-size: 2em;
  color: #BDBDBD; }

.contactCard__mailIcon::before {
  content: "\f003"; }

.contactCard__gitHubIcon::before {
  content: "\f09b"; }

.contactCard__twitterIcon::before {
  content: "\f099"; }

.footerBar {
  margin: 20px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 3px solid #EA1B64;
  font-size: 0.7rem; }
  @media only screen and (min-width: 600px) {
    .footerBar {
      font-size: 1rem; } }

.footerBar_section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.footerBar__header {
  text-align: center;
  color: #EF4381;
  font-size: 1.2rem; }

.footerBar__authors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px; }

.footerBar__authorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 4px; }
  @media only screen and (min-width: 600px) {
    .footerBar__authorContainer {
      margin: 0 8px; } }

.footerBar__authorImage {
  border-radius: 50%;
  width: 40px;
  display: block;
  margin: 0 auto; }
  @media only screen and (min-width: 600px) {
    .footerBar__authorImage {
      width: 70px; } }

.footerBar__authorName {
  margin: 0.2rem; }

.searchBar {
  margin: 5px;
  padding: 2.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative; }

.searchBar--withSearchIndication {
  height: 150px;
  margin: 20px inherit; }

.searchBar__searchingToggle {
  display: none; }

.searchBar__searchInput {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  height: 2.2rem;
  border-radius: 0;
  padding: 0.1rem 0.3rem;
  margin: 0;
  border: none;
  border-bottom: 2px solid #EF4381;
  cursor: pointer; }

.searchBar__searchInput:focus {
  outline: none !important;
  border-bottom: 2px dashed #EF4381;
  border-radius: 0;
  box-shadow: none; }

.searchBar__searchButton {
  border: 2px solid #EA1B64;
  background-color: #EA1B64;
  color: #FFFFFF;
  height: 2.2rem;
  margin: 0;
  border-radius: 0 3px 3px 0;
  display: flex;
  align-items: center; }
  .searchBar__searchButton:hover {
    background-color: #EF4381; }
  .searchBar__searchButton:active {
    background-color: #C31F5D; }

.searchBar__searchButton > i {
  margin-right: 0.3rem;
  color: #FFFFFF; }

.searchBar__searchingBars {
  position: absolute;
  height: 100px;
  width: 5px;
  background-color: #EF4381;
  top: 25px;
  z-index: -5; }

.searchBar__searchingBars:nth-of-type(1) {
  left: 35px; }

.searchBar__searchingBars:nth-of-type(2) {
  left: 50px; }

.searchBar__searchingBars:nth-of-type(3) {
  left: 65px; }

.searchBar__searchingBars:nth-of-type(4) {
  left: 80px; }

.searchBar__searchingBars:nth-of-type(5) {
  left: 95px; }

.searchBar__searchingBars:nth-of-type(6) {
  left: 110px; }

.searchBar__searchingBars:nth-of-type(7) {
  left: 125px; }

.searchBar__searchingBars:nth-of-type(8) {
  left: 140px; }

.searchBar__searchingBars:nth-of-type(9) {
  left: 155px; }

.searchBar__searchingBars:nth-of-type(10) {
  left: 170px; }

.searchBar__searchingBars:nth-of-type(11) {
  left: 185px; }

.searchBar__searchingBars:nth-of-type(12) {
  left: 200px; }

.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(1),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(4),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(9),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(11) {
  animation-name: bobbleA;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 0.9s; }

.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(2),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(5),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(7),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(10) {
  animation-name: bobbleB;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 1.2s; }

.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(3),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(6),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(8),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(12) {
  animation-name: bobbleC;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 2s; }

@keyframes bobbleA {
  0% {
    top: 0px; }
  25% {
    top: -30px; }
  50% {
    top: 0px; }
  75% {
    top: 30px; }
  100% {
    top: 0px; } }
@keyframes bobbleB {
  0% {
    top: 0px; }
  40% {
    top: -20px; }
  70% {
    top: 20px; }
  100% {
    top: 0px; } }
@keyframes bobbleC {
  0% {
    top: 0px; }
  40% {
    top: -10px; }
  70% {
    top: 20px; }
  100% {
    top: 0px; } }
.searchBar__searchEditor {
  background-color: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  left: 15px;
  padding: 10px;
  position: absolute;
  top: 43px;
  display: none;
  max-width: 400px; }

.searchBar__searchEditorControl {
  display: none; }
  .searchBar__searchEditorControl:checked + .searchBar__searchEditor {
    display: block; }

.searchBar__expand {
  opacity: 0;
  color: #EF4381;
  margin-right: 3px;
  padding: 0; }

/*************** FORM - CONTACT ***************/
.formContact {
  max-width: 635px;
  background-color: #EA1B64;
  padding: 1.5em;
  border-radius: 4px; }

.formContact__heading {
  color: white; }

.formContact__row {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1em 0; }

.formContact__fieldContainer--twoColumn {
  width: 47.5%; }

.formContact__fieldContainer--oneColumn {
  width: 100%; }

.formContact__fieldHeading {
  color: white;
  font-size: 1em; }

.formContact__fieldHeading:before {
  font-family: "FontAwesome";
  color: white;
  margin: 0 .75em 0 0; }

.formContact__fieldHeading--name:before {
  content: "\f007";
  font-size: 1.1em; }

.formContact__fieldHeading--email:before {
  content: "\f0e0";
  font-size: 1.1em; }

.formContact__fieldHeading--message {
  margin-top: .25em; }

.formContact__fieldHeading--message:before {
  content: "\f040";
  font-size: 1.1em; }

.formContact__field {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  padding: 1em; }

.formContact__button--submit {
  width: 100%;
  margin: 1em 0 1.5em 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5); }

.formContact__button--send {
  color: white; }

.formContact__button--send:before {
  font-family: "FontAwesome";
  content: "\f1d8";
  margin: 0 .25em 0 0; }

@media screen and (max-width: 415px) {
  .formContact__fieldContainer--twoColumn {
    width: 100%; }

  .formContact__row {
    display: block; } }
/*************** FORM - JOIN US ***************/
.formJoinUs {
  padding: 2em 2.75em;
  border: 2px solid #EA1B64;
  max-width: 380px;
  border-radius: 4px; }

.formJoinUs__heading {
  color: #EA1B64;
  margin: 0 0 1.5em 0; }

.formJoinUs__container {
  border: 2px solid #EA1B64;
  margin: 0 0 1.25em 0;
  border-radius: 4px;
  padding: 0; }

.formJoinUs__container:before {
  font-family: "FontAwesome";
  color: white;
  background-color: #EA1B64;
  display: inline-block;
  padding: .25em; }

.formJoinUs__container--username:before {
  content: "\f007";
  font-size: 1.8em; }

.formJoinUs__container--email:before {
  content: "\f0e0";
  font-size: 1.4em;
  border: solid #EA1B64;
  border-width: 6px 1px 6px 0; }

.formJoinUs__container--password:before {
  content: "\f023";
  font-size: 1.9em; }

.formJoinUs__field {
  width: calc(100% - 2.2em);
  border-color: transparent;
  padding: .75em;
  float: right; }

.formJoinUs__submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: .75em 0;
  color: #EA1B64;
  font-weight: 600;
  border: 2px solid #EA1B64;
  margin: 2em 0 1em 0;
  border-radius: 4px;
  background-color: transparent; }

.fullCarousel {
  margin: 20px;
  padding: 10px;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  max-height: 600px;
  position: relative;
  width: 95%; }

.fullCarousel__image {
  float: right;
  max-width: 100%;
  object-fit: cover;
  transform-origin: bottom;
  transform: scale(0, 0);
  transition: transform 0.8s ease-in;
  width: 0;
  z-index: -1; }

.fullCarousel__switch {
  display: none; }

.fullCarousel__thumbnails {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%; }

.fullCarousel__thumbnail {
  cursor: pointer;
  display: block;
  margin: 10px 10px;
  width: calc( 100% / 4); }
  .fullCarousel__thumbnail:hover {
    transform: scale(1.2, 1.2); }
  @media only screen and (min-width: 860px) {
    .fullCarousel__thumbnail {
      width: calc( 100% / 10); } }

.fullCarousel__viewer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  width: 100%; }

.fullCarousel__thumbnail > img {
  filter: grayscale(100%);
  object-fit: cover;
  width: 100%; }
  .fullCarousel__thumbnail > img:hover {
    filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(1):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(1) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(1):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(1) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(1):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(1) > img {
  filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(2):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(2) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(2):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(2) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(2):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(2) > img {
  filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(3):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(3) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(3):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(3) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(3):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(3) > img {
  filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(4):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(4) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(4):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(4) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(4):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(4) > img {
  filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(5):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(5) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(5):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(5) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(5):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(5) > img {
  filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(6):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(6) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(6):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(6) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(6):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(6) > img {
  filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(7):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(7) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(7):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(7) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(7):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(7) > img {
  filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(8):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(8) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(8):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(8) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(8):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(8) > img {
  filter: grayscale(0); }

.headerBar {
  margin: 20px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 3px solid #EA1B64; }

.headerBar__logo > img {
  width: 70px; }
  @media only screen and (min-width: 600px) {
    .headerBar__logo > img {
      width: 100px; } }

.headerBar__titleLogoContainer {
  display: flex;
  flex-direction: row;
  align-items: center; }

.headerBar__titleContainer {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-family: "Roboto", serif;
  font-weight: 400; }

.headerBar__title {
  color: #EF4381;
  font-size: 1.6rem; }
  @media only screen and (min-width: 600px) {
    .headerBar__title {
      font-size: 3rem; } }

.headerBar__subtitle {
  font-size: 0.85rem;
  margin: 0.2rem 0.1rem; }
  @media only screen and (min-width: 600px) {
    .headerBar__subtitle {
      font-size: 1rem;
      margin: 0.5rem 0.25rem; } }

.navBar__navList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row; }

.navBar__navLink {
  text-decoration: underline;
  width: 100%;
  height: 100%;
  color: #EF4381;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
  font-size: 1.2em;
  transition: 0.2s background-color ease-in; }
  .navBar__navLink:hover {
    background-color: #EF4381;
    color: #FFFFFF; }

.progressBar {
  /* Reset the default appearance */
  margin: 5px;
  padding: 2.5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  border: none;
  height: 1.9rem;
  width: 300px; }

progress[value]::-webkit-progress-bar {
  background-color: #FFFFFF;
  border-radius: 3px;
  border: 1.5px solid #EF4381; }

.progressBar::-webkit-progress-value {
  background-color: white;
  background-image: -webkit-linear-gradient(left, #FFF, #EF4381); }

progress[value]::-moz-progress-bar {
  background-image: -moz-linear-gradient(left, #FFF, #EF4381);
  border-radius: 3px;
  border: 1px solid #C31F5D; }

/*************** RADIO BUTTONS & CHECKBOXES ***************/
/****  DEFAULT INPUT STYLES  ****/
.radioButtons__input,
.checkBoxes__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  position: relative;
  visibility: hidden;
  display: none; }

.radioButtons__label,
.checkBoxes__label {
  color: #EA1B64;
  display: inline-block;
  line-height: normal;
  position: relative; }

/****  RADIO BUTTONS  ****/
.radioButtons__label:before {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 1px solid transparent;
  color: #EA1B64;
  content: "\f1db";
  font-family: "FontAwesome";
  font-size: 1.5em;
  padding: 1px 2px; }

.radioButtons__input:checked + .radioButtons__label:before {
  border: 1px solid #EA1B64;
  color: #EA1B64;
  content: "\f111"; }

/****  CHECKBOXES  ****/
.checkBoxes__label:before {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  color: #EA1B64;
  content: "\f096";
  font-family: "FontAwesome";
  font-size: 1.5em;
  margin: 0 .25em 0 0;
  position: relative; }

/*  checkbox 1  */
.checkBoxes__input:checked + .checkBoxes__label--check:after {
  color: black;
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 1.25em;
  left: .09em;
  position: absolute; }

/*  checkbox 2 */
.checkBoxes__input:checked + .checkBoxes__label--x:after {
  color: black;
  content: "\f00d";
  font-family: "FontAwesome";
  font-size: 1.25em;
  left: .09em;
  position: absolute;
  top: .05em; }

/*  checkbox 3  */
.checkBoxes__input--checkInvert + .checkBoxes__label:before {
  color: black;
  position: relative; }

.checkBoxes__input--checkInvert:checked + .checkBoxes__label--checkInvert:after {
  color: #EA1B64;
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 1.25em;
  left: .09em;
  position: absolute;
  top: .03em; }

/*  checkbox 4 */
.checkBoxes__input:checked + .checkBoxes__label--xInvert:before {
  color: #EA1B64;
  content: "\f0c8";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 1.38em;
  line-height: 1.19;
  transform: translateY(-1px); }

.checkBoxes__input:checked + .checkBoxes__label--xInvert:after {
  color: white;
  content: "\f00d";
  font-family: "FontAwesome";
  font-size: 1.25em;
  left: .09em;
  margin-right: 5px;
  position: absolute;
  top: .04em; }

.searchBar {
  margin: 5px;
  padding: 2.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative; }

.searchBar--withSearchIndication {
  height: 150px;
  margin: 20px inherit; }

.searchBar__searchingToggle {
  display: none; }

.searchBar__searchInput {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  height: 2.2rem;
  border-radius: 0;
  padding: 0.1rem 0.3rem;
  margin: 0;
  border: none;
  border-bottom: 2px solid #EF4381;
  cursor: pointer; }

.searchBar__searchInput:focus {
  outline: none !important;
  border-bottom: 2px dashed #EF4381;
  border-radius: 0;
  box-shadow: none; }

.searchBar__searchButton {
  border: 2px solid #EA1B64;
  background-color: #EA1B64;
  color: #FFFFFF;
  height: 2.2rem;
  margin: 0;
  border-radius: 0 3px 3px 0;
  display: flex;
  align-items: center; }
  .searchBar__searchButton:hover {
    background-color: #EF4381; }
  .searchBar__searchButton:active {
    background-color: #C31F5D; }

.searchBar__searchButton > i {
  margin-right: 0.3rem;
  color: #FFFFFF; }

.searchBar__searchingBars {
  position: absolute;
  height: 100px;
  width: 5px;
  background-color: #EF4381;
  top: 25px;
  z-index: -5; }

.searchBar__searchingBars:nth-of-type(1) {
  left: 35px; }

.searchBar__searchingBars:nth-of-type(2) {
  left: 50px; }

.searchBar__searchingBars:nth-of-type(3) {
  left: 65px; }

.searchBar__searchingBars:nth-of-type(4) {
  left: 80px; }

.searchBar__searchingBars:nth-of-type(5) {
  left: 95px; }

.searchBar__searchingBars:nth-of-type(6) {
  left: 110px; }

.searchBar__searchingBars:nth-of-type(7) {
  left: 125px; }

.searchBar__searchingBars:nth-of-type(8) {
  left: 140px; }

.searchBar__searchingBars:nth-of-type(9) {
  left: 155px; }

.searchBar__searchingBars:nth-of-type(10) {
  left: 170px; }

.searchBar__searchingBars:nth-of-type(11) {
  left: 185px; }

.searchBar__searchingBars:nth-of-type(12) {
  left: 200px; }

.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(1),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(4),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(9),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(11) {
  animation-name: bobbleA;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 0.9s; }

.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(2),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(5),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(7),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(10) {
  animation-name: bobbleB;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 1.2s; }

.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(3),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(6),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(8),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(12) {
  animation-name: bobbleC;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 2s; }

@keyframes bobbleA {
  0% {
    top: 0px; }
  25% {
    top: -30px; }
  50% {
    top: 0px; }
  75% {
    top: 30px; }
  100% {
    top: 0px; } }
@keyframes bobbleB {
  0% {
    top: 0px; }
  40% {
    top: -20px; }
  70% {
    top: 20px; }
  100% {
    top: 0px; } }
@keyframes bobbleC {
  0% {
    top: 0px; }
  40% {
    top: -10px; }
  70% {
    top: 20px; }
  100% {
    top: 0px; } }
.teaserCard__categoryHeader {
  color: #FFFFFF;
  left: 10px;
  position: absolute; }

.teaserCard__dateText {
  color: #BDBDBD;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  left: 18px;
  position: relative; }

.teaserCard__articleHeader {
  font-family: "Roboto", serif;
  font-weight: 700;
  left: 20px;
  position: relative; }

.teaserCard__horizontalLine {
  border: 2px solid #EF4381;
  margin: 20px;
  position: relative;
  top: -5px; }

.zoomupDef {
  background-color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  transition: transform 0.4s ease-in;
  vertical-align: center; }

.zoomupDef__content {
  background-color: #FFFFFF;
  text-decoration: underline; }

.zoomupDef__def {
  background-color: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #EF4381;
  display: none;
  padding: 5px;
  position: relative;
  top: 2em;
  width: 20em; }

.zoomupDef:hover > .zoomupDef__def {
  background-color: #FFFFFF;
  display: inline;
  position: absolute;
  z-index: 5; }

.zoomupDef:hover > .zoomupDef__content {
  text-decoration: none; }

.zoomupDef:hover {
  border-radius: 3px;
  border: 1px solid #EA1B64;
  transform: scale(3, 3) translate3d(-20px, 5px, 30px);
  z-index: 5; }

.toggle {
  padding: 0;
  height: 35px;
  width: 80px;
  display: block;
  border: none;
  position: relative;
  overflow: hidden; }

.toggle__toggleInput {
  display: none;
  position: absolute; }

.toggle:focus {
  outline: none;
  border: none; }

.toggle__toggleInput:checked + .toggle__label {
  position: absolute;
  transition: border-width .1s linear;
  border: solid #EA1B64;
  background-color: white;
  border-width: 5px 5px 5px 45px; }

.toggle__toggleInput + .toggle__label:after {
  content: "OFF";
  color: #848383;
  font-size: .8em;
  line-height: 2;
  margin: 0 0 0 40px; }

.toggle__toggleInput:checked + .toggle__label:before {
  content: "ON";
  color: white;
  font-size: .8em;
  line-height: 2;
  margin: 0 0 0 -35px; }

.toggle__toggleInput:checked + .toggle__label:after {
  content: ""; }

.toggle__label {
  height: 35px;
  width: 100%;
  background-color: white;
  border: solid lightgray;
  border-width: 5px 45px 5px 5px;
  display: block;
  cursor: pointer;
  transition: border-width .1s linear; }

/* volume icons */
.toggle__label--volume {
  border-radius: 30px; }

.toggle__toggleInput:checked + .toggle__label--volume {
  border: solid #EA1B64;
  border-width: 5px 5px 5px 45px; }

.toggle--volume {
  border-radius: 30px; }

.toggle__toggleInput:checked + .toggle__label--volume:before {
  color: white;
  margin: 0 0 0 -32px;
  content: "\f028";
  font-family: "FontAwesome";
  font-size: 1.8em;
  transform: translate(-2px, -15px);
  display: inline-block; }

.toggle__toggleInput + .toggle__label--volume:after {
  content: "\f026";
  font-family: "FontAwesome";
  font-size: 1.8em;
  transform: translate(0, -15px);
  display: inline-block; }

/* floating side nav */
.sidenav {
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 100px;
  right: 100%; }

.sidenav__item {
  list-style: none;
  width: 200px;
  height: 50px;
  left: -170px;
  position: relative;
  transition: left .2s linear;
  margin: 0 0 .75em 0;
  padding: 10px;
  color: white;
  line-height: 70px; }

.sidenav__item:hover {
  left: 0;
  transition: left .2s linear;
  -webkit-filter: brightness(9);
  filter: brightness(1.3); }

.sidenav__link {
  height: 50px;
  display: block;
  margin: -10px;
  padding: 10px;
  line-height: 30px;
  text-decoration: none;
  color: white; }

.sidenav__item--top {
  background-color: #EA1B64; }

.sidenav__item--middle {
  background-color: #EA1B64; }

.sidenav__item--bottom {
  background-color: #EA1B64; }

.sidenav__icon {
  color: white;
  font-size: 50px;
  float: right;
  margin: 5px 0 0 0; }

.pinwheelContainer {
  position: relative; }

.pinwheel {
  margin: 40px;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: #EA1B64;
  position: relative;
  border-radius: 50%;
  font-family: sans-serif; }

.pinwheel:hover {
  transform: rotate(360deg);
  transition: transform 2s linear; }

.pinwheel:hover .pinwheel__spoke {
  transform: rotate(-360deg);
  transition: transform 2s linear; }

.pinwheel div {
  position: absolute;
  top: calc(50% - 1.5em);
  left: calc(50% - 1.5em); }

.pinwheel__spoke {
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  visibility: hidden;
  cursor: pointer;
  border: 2px solid red; }

.pinwheel:hover .pinwheel__spoke:hover {
  border: 2px solid gold; }

.pinwheel__intro {
  color: white; }

.pinwheel__intro2 a {
  text-decoration: none;
  color: white; }

.pinwheel__intro2 a:hover {
  text-decoration: none;
  color: red; }

.pinwheel__intro2 {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0; }

.pinwheel:hover .pinwheel__intro {
  visibility: hidden;
  color: white; }

.pinwheel:hover + .pinwheel__intro2 {
  text-align: center;
  font-family: sans-serif;
  font-size: .5em;
  visibility: visible;
  position: absolute;
  top: 23%;
  left: 72px;
  pointer-events: none;
  font-weight: bold; }

.pinwheel:hover .pinwheel__spoke--a {
  top: -29px;
  left: 30px;
  visibility: visible;
  background-size: cover;
  background-image: url(https://mdev-assets.s3.amazonaws.com/optimized/2X/7/7271706d3f7d4c9cdf7bc8a1f1d8b7527bf48d8e_1_90x90.png); }

.pinwheel:hover .pinwheel__spoke--b {
  top: 13%;
  left: calc(100% - 19px);
  visibility: visible;
  background-size: cover;
  background-image: url(https://mdev-assets.s3.amazonaws.com/optimized/2X/a/ac78a8383f371c7fce00ba2ff3217fb8226f4aa7_1_90x90.jpg); }

.pinwheel:hover .pinwheel__spoke--c {
  top: inherit;
  bottom: -15px;
  left: calc(100% - 33px);
  visibility: visible;
  background-size: cover;
  background-image: url(https://mdev-assets.s3.amazonaws.com/optimized/1X/a09b76a5042487f379aed335551107ae86dcd373_1_90x90.jpg); }

.pinwheel:hover .pinwheel__spoke--d {
  top: inherit;
  bottom: -15px;
  left: -9px;
  visibility: visible;
  background-size: cover;
  background-image: url(https://mdev-assets.s3.amazonaws.com/optimized/1X/7ea3d21562136dd0e1bf9319c6ef5baf7c094abe_1_90x90.png); }

.pinwheel:hover .pinwheel__spoke--e {
  top: 13%;
  left: -26px;
  visibility: visible;
  background-size: cover;
  background-image: url(https://qa.moderndeveloper.com/letter_avatar/pj_deleon/240/5_f49de8ba623c2fd8ed551ea21a23372b.png); }

.modal__background {
  background-color: rgba(189, 189, 189, 0.6);
  bottom: 0;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 9998; }

.modal__closeLabel i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FFFFFF;
  z-index: 1; }

.modal__foreground {
  position: fixed;
  top: 100px;
  left: 36%;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 9999; }

.modal__control {
  display: none; }
  .modal__control:checked ~ .modal__background, .modal__control:checked ~ .modal__foreground {
    opacity: 1;
    visibility: visible; }

.tabs {
  position: relative;
  width: 670px;
  height: 300px;
  margin: 20px;
  padding: 10px;
  margin-top: 50px;
  padding: 0;
  border-radius: 3px; }

.tabs__tab, .tabs__tab--vertical {
  background-color: #EA1B64;
  color: #FFFFFF;
  position: relative;
  top: -57px;
  display: inline-block;
  width: 100px;
  padding: 18px;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  text-align: center;
  vertical-align: bottom; }
  .tabs__tab:nth-child(2), .tabs__tab--vertical:nth-child(2) {
    background-color: #CF477C;
    padding: 15px; }
  .tabs__tab:nth-child(3), .tabs__tab--vertical:nth-child(3) {
    padding: 12px;
    background-color: #EF4381; }

.tabs__tab {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none; }

.tabs__tab--vertical {
  display: block;
  position: relative;
  margin: 0 0 2px 20px;
  left: -21px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.tabs--vertical {
  position: relative;
  width: 670px;
  height: 300px;
  margin: 20px;
  padding: 10px;
  margin-top: 50px;
  padding: 0;
  border-radius: 3px;
  left: 100px; }

.tabGroup {
  position: relative;
  top: -11px;
  left: -15px;
  margin: 10px;
  padding: 5px; }
  .tabGroup > label[class="tabs__tab"]:nth-child(0) {
    margin: -1px; }
  .tabGroup > label[class="tabs__tab"]:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .tabGroup > label[class="tabs__tab"]:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .tabGroup > label[class="tabs__tab"]:not(:first-child):not(:last-child) {
    border-radius: 0; }

.tabVerticalGroup {
  position: relative;
  top: 42px;
  left: -113px;
  margin: 10px;
  padding: 5px; }
  .tabVerticalGroup > label[class="tabs__tab"] {
    margin: -1px; }
  .tabVerticalGroup > label[class="tabs__tab"]:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .tabVerticalGroup > label[class="tabs__tab"]:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .tabVerticalGroup > label[class="tabs__tab"]:not(:first-child):not(:last-child) {
    border-radius: 0; }

.tabs__panel {
  position: absolute;
  top: 0;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  border-top-left-radius: 0;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  z-index: 0; }

.tabs__paragraph {
  color: #6D6D6D;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.tabs__imgHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.tabs__mainImage {
  margin: 20px;
  padding: 10px;
  max-width: 280px;
  max-height: 300px;
  vertical-align: middle;
  border-radius: 20px; }

.tabs__mainContentContainer {
  width: 345px;
  height: 218px;
  float: right;
  position: relative;
  top: 40px;
  padding: 10px; }

.tabs__panelControl[name="tab-controls-vertical"] {
  display: none; }
  .tabs__panelControl[name="tab-controls-vertical"]:checked + .tabs__panel {
    z-index: 1; }
  .tabs__panelControl[name="tab-controls-vertical"]:checked[id*="tab1"] ~ .tabVerticalGroup .tabs__tab--vertical[class*="tab1"] {
    border-right: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #EA1B64;
    z-index: 1; }
  .tabs__panelControl[name="tab-controls-vertical"]:checked[id*="tab2"] ~ .tabVerticalGroup .tabs__tab--vertical[class*="tab2"] {
    border-right: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #EA1B64;
    z-index: 1; }
  .tabs__panelControl[name="tab-controls-vertical"]:checked[id*="tab3"] ~ .tabVerticalGroup .tabs__tab--vertical[class*="tab3"] {
    border-right: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #EA1B64;
    z-index: 1; }

.tabs__panelControl[name="tab-controls"] {
  display: none; }
  .tabs__panelControl[name="tab-controls"]:checked + .tabs__panel {
    z-index: 1; }
  .tabs__panelControl[name="tab-controls"]:checked[id*="tab1"] ~ .tabGroup .tabs__tab[class*="tab1"] {
    border-bottom: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #EA1B64;
    z-index: 1; }
  .tabs__panelControl[name="tab-controls"]:checked[id*="tab2"] ~ .tabGroup .tabs__tab[class*="tab2"] {
    border-bottom: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #EA1B64;
    z-index: 1; }
  .tabs__panelControl[name="tab-controls"]:checked[id*="tab3"] ~ .tabGroup .tabs__tab[class*="tab3"] {
    border-bottom: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #EA1B64;
    z-index: 1; }

.tabs__panelControl[name="tab-controls-minimal"] {
  display: none; }
  .tabs__panelControl[name="tab-controls-minimal"]:checked + .tabs__panel {
    z-index: 3; }
  .tabs__panelControl[name="tab-controls-minimal"]:checked[id*="tab1"] ~ .tabVerticalGroup .tabs__tab--vertical[class*="tab1"] {
    border-right: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #EA1B64;
    z-index: 1; }
  .tabs__panelControl[name="tab-controls-minimal"]:checked[id*="tab2"] ~ .tabVerticalGroup .tabs__tab--vertical[class*="tab2"] {
    border-right: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #EA1B64;
    z-index: 1; }
  .tabs__panelControl[name="tab-controls-minimal"]:checked[id*="tab3"] ~ .tabVerticalGroup .tabs__tab--vertical[class*="tab3"] {
    border-right: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #EA1B64;
    z-index: 1; }

/********** LIST STYLES **********/
/* Compiled on timestamp() */
.uiList {
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-radius: 3px;
  margin: 1em;
  padding: 0; }

.uiList__item {
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 0;
  padding: .5em .5em .5em 1em;
  list-style-position: inside;
  opacity: .6;
  cursor: pointer; }

.uiList__item:hover {
  opacity: 1; }

.list--unOrdered {
  list-style: none; }

/* decorative styles  */
.uiList__item--unOrdered:before {
  content: "\f111";
  font-family: "FontAwesome";
  font-size: .75em;
  display: inline-block;
  color: #C31F5D;
  width: 1.5em; }

.list--primary {
  border-color: #C31F5D; }

.uiList__item--primary {
  border-color: #C31F5D; }

/* dark styles */
.uiList--dark {
  border-color: dimgray; }

.uiList__item--dark {
  border-color: dimgray;
  border-width: 0 0 1px .5em;
  padding: .5em .5em .5em .5em;
  opacity: 1; }

.uiList__item--dark:hover {
  padding: .5em .5em .5em .5em;
  border: solid #959595;
  border-width: 0 0 1px .5em;
  border-bottom-color: dimgray; }

.uiList__item--dark:hover:before {
  color: #959595; }

.uiList__item--dark:before {
  color: dimgray;
  margin-left: -5px; }

.uiList__item--dark:first-child {
  border-top-left-radius: 2px; }

.uiList__item--dark:last-child {
  border-bottom-left-radius: 2px; }

/********** Table Styles **********/
/* Compiled on timestamp() */
.uiTableContainer {
  border: 2px solid #C31F5D;
  display: inline-block;
  border-radius: 3px; }

.uiTable {
  border-collapse: collapse; }

.uiTable__row {
  border-bottom: 2px solid #C31F5D; }

.uiTable_footRow:last-child {
  border-bottom: none; }

.uiTable__cell {
  padding: .75em; }

/*    align all cell contents    */
.uiTable--left {
  text-align: left; }

.uiTable--center {
  text-align: center; }

.uiTable--right {
  text-align: right; }

/*    align individual cell contents    */
.uiTable__cell--left {
  text-align: left; }

.uiTable__cell--center {
  text-align: center; }

.uiTable__cell--right {
  text-align: right; }

/* dark style */
.uiTable__cell--dark {
  background-color: dimgray;
  color: white; }

.uiTableContainer--dark {
  border-color: dimgray; }

.uiTable_bodyRow--dark {
  border-color: dimgray; }

.uiTable_bodyRow--dark:nth-child(even) {
  background-color: lightgray; }

.uiTable_headRow--dark {
  border-color: dimgray; }

/*# sourceMappingURL=main.css.map */
