@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700");
* {
  box-sizing: border-box;
  color: #202020; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 95%;
  margin: 0 auto;
  max-width: 1600px; }

main {
  margin: 20px;
  padding: 10px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", serif;
  font-weight: 400; }

.button--primary, .button--primary--round, .button--primarySolid, .button--primarySolid--round, .button--disabled, .button--disabled--round, .searchBar__searchButton {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: 20px;
  padding: 10px;
  transition: 0.2s background-color;
  white-space: nowrap; }

.actionCard, .contactCard, .teaserCard {
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  margin: 40px;
  position: relative;
  width: 290px; }

.contactCard__image, .teaserCard__image {
  position: relative;
  z-index: -1;
  max-width: 100%; }

.actionCard__content, .teaserCard__content {
  color: #6D6D6D;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 10px;
  padding: 5px;
  line-height: 1.4em; }

.right {
  float: right; }

.left {
  float: left; }

.center {
  margin-left: auto;
  margin-right: auto; }

/* ***************************** ACCORDION123 *********************** */
.accordion {
  max-width: 475px;
  width: 100%;
  margin: 20px; }

.accordion * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.accordion__section {
  position: relative;
  width: 100%; }

.accordion__radiobtn {
  position: absolute;
  z-index: -999;
  opacity: 0; }

/* Accordion heading */
.accordion__heading {
  background-color: #202020;
  border-bottom: 2px solid #fff;
  color: #BDBDBD;
  display: block;
  font-weight: bold;
  line-height: 3;
  padding: 0px 10px; }

.accordion__heading--underline {
  background-color: #fff;
  color: #202020;
  border-bottom: 2px solid #BDBDBD; }

.accordion__heading--nounderline {
  border-bottom: 4px solid #fff; }

.accordion__radiobtn:checked + .accordion__heading {
  border-bottom: 2px solid #EA1F68; }

.accordion__radiobtn:checked + .accordion__heading {
  color: #FFF; }

.accordion__radiobtn:checked + .accordion__heading--underline {
  color: #202020; }

.accordion__radiobtn:checked + .accordion__heading--nounderline {
  border-bottom: 4px solid #EA1F68; }

.accordion__heading:hover {
  border-bottom: 2px solid #EA1F68;
  transition: 0.4s ease; }

.accordion__heading--underline:hover {
  color: #EA1F68;
  transition: .4s ease; }

.accordion__heading--nounderline:hover {
  border-bottom: 4px solid #EA1F68;
  transition: .4s ease; }

/* Accordion arrow */
.accordion__chevron {
  display: inline-block;
  /*color: #BDBDBD;*/ }

.accordion__chevron--right {
  float: right; }

.accordion__radiobtn:checked + .accordion__heading .accordion__chevron {
  transition: .6s ease;
  transform: rotate(180deg); }

/* Accordion Icon */
.accordion__chevron > i {
  color: #BDBDBD; }

.accordion__chevron--color > i {
  color: #EA1F68; }

.accordion__radiobtn:checked + .accordion__heading .accordion__chevron--color > i {
  color: #fff; }

/* Accordion circle */
.accordion__circle {
  padding: 5px;
  border: 1px solid #EA1F68;
  border-radius: 50%; }

.accordion__radiobtn:checked + .accordion__heading .accordion__circle {
  background-color: #EA1F68;
  transition: background .6s ease; }

/* Accordion content */
.accordion__content {
  line-height: 1.25rem;
  max-height: 0;
  overflow: hidden;
  transition: .6s ease; }

.accordion__radiobtn:checked ~ .accordion__content {
  max-height: 200px;
  border: 1px solid #202020;
  border-top: none; }

.accordion__radiobtn:checked ~ .accordion__content--noborder {
  border: none; }

.accordion__radiobtn:checked ~ .accordion__content--bgdark {
  background-color: #202020; }

/* Accordion image */
.accordion__image {
  border-radius: 5px;
  float: left;
  margin: 35px 30px 30px 35px; }

/* Accordion subheading */
.accordion__subheading {
  font-size: 18px;
  font-weight: bold;
  margin: 35px 35px 10px 0; }

.accordion__subheading--pink {
  color: #EA1F68; }

/* Accordion discription */
.accordion__discription {
  color: #6D6D6D;
  font-size: 10px;
  margin: 0 35px 0 0;
  max-height: 5rem;
  overflow: hidden; }

.accordion__discription--white {
  color: #BDBDBD; }

.actionCard__header {
  position: relative;
  background-color: #EA1B64;
  height: 70px; }

.actionCard__content {
  text-align: center; }

.actionCard__btnContainer {
  display: flex;
  justify-content: space-around; }

.actionCard__title {
  text-align: center;
  font-weight: 700; }

.actionCard__header > i {
  position: absolute;
  right: 15px;
  top: 12px;
  color: #FFFFFF;
  opacity: .5; }

.button--primary, .button--primary--round {
  background-color: #FFFFFF;
  border: 2px solid #EA1B64;
  color: #EA1B64; }
  .button--primary:hover, .button--primary--round:hover {
    background-color: #EF4381;
    color: #FFFFFF; }
  .button--primary:active, .button--primary--round:active {
    background-color: #C31F5D;
    color: #FFFFFF; }
  .button--primary > i[class*="fa-"], .button--primary--round > i[class*="fa-"] {
    color: #EA1B64;
    margin-right: 6px; }
  .button--primary:hover > i[class*="fa-"], .button--primary--round:hover > i[class*="fa-"] {
    color: #FFFFFF; }
  .button--primary:active > i[class*="fa-"], .button--primary--round:active > i[class*="fa-"] {
    color: #FFFFFF; }

.button--primarySolid, .button--primarySolid--round {
  border: 2px solid #EA1B64;
  background-color: #EA1B64;
  color: #FFFFFF; }
  .button--primarySolid:hover, .button--primarySolid--round:hover {
    background-color: #EF4381; }
  .button--primarySolid:active, .button--primarySolid--round:active {
    background-color: #C31F5D; }
  .button--primarySolid > i[class*="fa-"], .button--primarySolid--round > i[class*="fa-"] {
    color: #FFFFFF;
    margin-right: 6px; }
  .button--primarySolid:hover > i[class*="fa-"], .button--primarySolid--round:hover > i[class*="fa-"] {
    color: #FFFFFF; }
  .button--primarySolid:active > i[class*="fa-"], .button--primarySolid--round:active > i[class*="fa-"] {
    color: #FFFFFF; }

.button--disabled, .button--disabled--round {
  background-color: #BDBDBD;
  border: 2px solid #6D6D6D;
  color: #FFFFFF; }
  .button--disabled:hover, .button--disabled--round:hover {
    background-color: #BDBDBD;
    color: #FFFFFF; }
  .button--disabled:active, .button--disabled--round:active {
    background-color: #BDBDBD;
    color: #FFFFFF; }

.button--primary--round,
.button--primarySolid--round,
.button--disabled,
.button--disabled--round {
  border-radius: 20px; }

.buttonGroup {
  display: inline-flex;
  margin: 10px;
  padding: 5px; }
  .buttonGroup > a[class*="button"] {
    margin: -3px;
    display: inherit; }
  .buttonGroup > a[class*="button"]:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .buttonGroup > a[class*="button"]:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .buttonGroup > a[class*="button"]:not(:first-child):not(:last-child) {
    border-radius: 0; }

.colorSwatch__container {
  margin: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.colorSwatch__colorBlock {
  border: 1px solid black;
  height: 100px;
  width: 100px; }

.colorSwatch__colorName {
  text-align: center;
  margin-top: 5px; }

.colorSwatch__colorBlock--baseColorDark {
  background-color: #C31F5D; }

.colorSwatch__colorBlock--baseColorMed {
  background-color: #EA1B64; }

.colorSwatch__colorBlock--baseColorLight {
  background-color: #EF4381; }

.colorSwatch__colorBlock--baseColorAlt {
  background-color: #CF477C; }

.colorSwatch__colorBlock--defaultColor {
  background-color: #202020; }

.colorSwatch__colorBlock--defaultColorLight {
  background-color: #6D6D6D; }

.colorSwatch__colorBlock--invertDefaultColor {
  background-color: #FFFFFF; }

.colorSwatch__colorBlock--altColor {
  background-color: #BDBDBD; }

.componentContainer__display {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap; }

.componentContainer__display--col {
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap; }

.componentSection__markupSwitchLabel {
  font-size: 1.2rem;
  margin: 10px 0;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #EF4381; }

.componentSection_markupSwitch:checked + .componentContainer__markup {
  height: auto;
  overflow-x: scroll;
  padding: 10px; }

.componentSection_markupSwitch {
  display: none; }

.componentContainer__markup {
  margin: 20px;
  padding: 10px;
  height: 0;
  padding: 0;
  margin: 0;
  background-color: gray;
  color: white;
  overflow-x: scroll;
  transition: height 0.8s ease-in;
  border-radius: 10px;
  font-size: 1.1rem; }

.componentContainer__markup > pre > code {
  color: #FFFFFF;
  font-size: 1.2rem; }

.contactCard__profileImage {
  position: relative;
  border-radius: 50%;
  top: -60px;
  width: 120px;
  display: block;
  margin: 0 auto; }

.contactCard__horizontalLine {
  border: 2px solid #BDBDBD;
  margin: 20px;
  position: relative; }

.contactCard__name {
  color: #EA1B64;
  font-weight: 700;
  margin: -20px 0 20px 0;
  text-align: center; }

.contactCard__content {
  color: #6D6D6D;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-weight: 700;
  text-align: center; }

.contactCard__iconContainer {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.contactCard__mailIcon::before,
.contactCard__gitHubIcon::before,
.contactCard__twitterIcon::before {
  display: inline;
  font-family: "FontAwesome";
  font-size: 2em;
  color: #BDBDBD; }

.contactCard__mailIcon::before {
  content: "\f003"; }

.contactCard__gitHubIcon::before {
  content: "\f09b"; }

.contactCard__twitterIcon::before {
  content: "\f099"; }

.footerBar {
  margin: 20px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 3px solid #EA1B64;
  font-size: 0.7rem; }
  @media only screen and (min-width: 600px) {
    .footerBar {
      font-size: 1rem; } }

.footerBar_section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.footerBar__header {
  text-align: center;
  color: #EF4381;
  font-size: 1.2rem; }

.footerBar__authors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px; }

.footerBar__authorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 4px; }
  @media only screen and (min-width: 600px) {
    .footerBar__authorContainer {
      margin: 0 8px; } }

.footerBar__authorImage {
  border-radius: 50%;
  width: 40px;
  display: block;
  margin: 0 auto; }
  @media only screen and (min-width: 600px) {
    .footerBar__authorImage {
      width: 70px; } }

.footerBar__authorName {
  margin: 0.2rem; }

.searchBar {
  margin: 5px;
  padding: 2.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative; }

.searchBar--withSearchIndication {
  height: 150px;
  margin: 20px inherit; }

.searchBar__searchingToggle {
  display: none; }

.searchBar__searchInput {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  height: 2.2rem;
  border-radius: 0;
  padding: 0.1rem 0.3rem;
  margin: 0;
  border: none;
  border-bottom: 2px solid #EF4381;
  cursor: pointer; }

.searchBar__searchInput:focus {
  outline: none !important;
  border-bottom: 2px dashed #EF4381;
  border-radius: 0;
  box-shadow: none; }

.searchBar__searchButton {
  border: 2px solid #EA1B64;
  background-color: #EA1B64;
  color: #FFFFFF;
  height: 2.2rem;
  margin: 0;
  border-radius: 0 3px 3px 0;
  display: flex;
  align-items: center; }
  .searchBar__searchButton:hover {
    background-color: #EF4381; }
  .searchBar__searchButton:active {
    background-color: #C31F5D; }

.searchBar__searchButton > i {
  margin-right: 0.3rem;
  color: #FFFFFF; }

.searchBar__searchingBars {
  position: absolute;
  height: 100px;
  width: 5px;
  background-color: #EF4381;
  top: 25px;
  z-index: -5; }

.searchBar__searchingBars:nth-of-type(1) {
  left: 35px; }

.searchBar__searchingBars:nth-of-type(2) {
  left: 50px; }

.searchBar__searchingBars:nth-of-type(3) {
  left: 65px; }

.searchBar__searchingBars:nth-of-type(4) {
  left: 80px; }

.searchBar__searchingBars:nth-of-type(5) {
  left: 95px; }

.searchBar__searchingBars:nth-of-type(6) {
  left: 110px; }

.searchBar__searchingBars:nth-of-type(7) {
  left: 125px; }

.searchBar__searchingBars:nth-of-type(8) {
  left: 140px; }

.searchBar__searchingBars:nth-of-type(9) {
  left: 155px; }

.searchBar__searchingBars:nth-of-type(10) {
  left: 170px; }

.searchBar__searchingBars:nth-of-type(11) {
  left: 185px; }

.searchBar__searchingBars:nth-of-type(12) {
  left: 200px; }

.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(1),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(4),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(9),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(11) {
  animation-name: bobbleA;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 0.9s; }

.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(2),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(5),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(7),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(10) {
  animation-name: bobbleB;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 1.2s; }

.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(3),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(6),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(8),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(12) {
  animation-name: bobbleC;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 2s; }

@keyframes bobbleA {
  0% {
    top: 0px; }
  25% {
    top: -30px; }
  50% {
    top: 0px; }
  75% {
    top: 30px; }
  100% {
    top: 0px; } }
@keyframes bobbleB {
  0% {
    top: 0px; }
  40% {
    top: -20px; }
  70% {
    top: 20px; }
  100% {
    top: 0px; } }
@keyframes bobbleC {
  0% {
    top: 0px; }
  40% {
    top: -10px; }
  70% {
    top: 20px; }
  100% {
    top: 0px; } }
.searchBar__searchEditor {
  background-color: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  left: 15px;
  padding: 10px;
  position: absolute;
  top: 43px;
  display: none;
  max-width: 400px; }

.searchBar__searchEditorControl {
  display: none; }
  .searchBar__searchEditorControl:checked + .searchBar__searchEditor {
    display: block; }

.searchBar__expand {
  opacity: 0;
  color: #EF4381;
  margin-right: 3px;
  padding: 0; }

/*************** FORM - CONTACT ***************/
.formContact {
  max-width: 635px;
  background-color: #EA1B64;
  padding: 1.5em;
  border-radius: 4px; }

.formContact__heading {
  color: white; }

.formContact__row {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1em 0; }

.formContact__fieldContainer--twoColumn {
  width: 47.5%; }

.formContact__fieldContainer--oneColumn {
  width: 100%; }

.formContact__fieldHeading {
  color: white;
  font-size: 1em; }

.formContact__fieldHeading:before {
  font-family: "FontAwesome";
  color: white;
  margin: 0 .75em 0 0; }

.formContact__fieldHeading--name:before {
  content: "\f007";
  font-size: 1.1em; }

.formContact__fieldHeading--email:before {
  content: "\f0e0";
  font-size: 1.1em; }

.formContact__fieldHeading--message {
  margin-top: .25em; }

.formContact__fieldHeading--message:before {
  content: "\f040";
  font-size: 1.1em; }

.formContact__field {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  padding: 1em; }

.formContact__button--submit {
  width: 100%;
  margin: 1em 0 1.5em 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5); }

.formContact__button--send {
  color: white; }

.formContact__button--send:before {
  font-family: "FontAwesome";
  content: "\f1d8";
  margin: 0 .25em 0 0; }

@media screen and (max-width: 415px) {
  .formContact__fieldContainer--twoColumn {
    width: 100%; }

  .formContact__row {
    display: block; } }
/*************** FORM - JOIN US ***************/
.formJoinUs {
  padding: 2em 2.75em;
  border: 2px solid #EA1B64;
  max-width: 380px;
  border-radius: 4px; }

.formJoinUs__heading {
  color: #EA1B64;
  margin: 0 0 1.5em 0; }

.formJoinUs__container {
  border: 2px solid #EA1B64;
  margin: 0 0 1.25em 0;
  border-radius: 4px;
  padding: 0; }

.formJoinUs__container:before {
  font-family: "FontAwesome";
  color: white;
  background-color: #EA1B64;
  display: inline-block;
  padding: .25em; }

.formJoinUs__container--username:before {
  content: "\f007";
  font-size: 1.8em; }

.formJoinUs__container--email:before {
  content: "\f0e0";
  font-size: 1.4em;
  border: solid #EA1B64;
  border-width: 6px 1px 6px 0; }

.formJoinUs__container--password:before {
  content: "\f023";
  font-size: 1.9em; }

.formJoinUs__field {
  width: calc(100% - 2.2em);
  border-color: transparent;
  padding: .75em;
  float: right; }

.formJoinUs__submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: .75em 0;
  color: #EA1B64;
  font-weight: 600;
  border: 2px solid #EA1B64;
  margin: 2em 0 1em 0;
  border-radius: 4px;
  background-color: transparent; }

.fullCarousel {
  margin: 20px;
  padding: 10px;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  max-height: 600px;
  position: relative;
  width: 95%; }

.fullCarousel__image {
  float: right;
  max-width: 100%;
  object-fit: cover;
  transform-origin: bottom;
  transform: scale(0, 0);
  transition: transform 0.8s ease-in;
  width: 0;
  z-index: -1; }

.fullCarousel__switch {
  display: none; }

.fullCarousel__thumbnails {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%; }

.fullCarousel__thumbnail {
  cursor: pointer;
  display: block;
  margin: 10px 10px;
  width: calc( 100% / 4); }
  .fullCarousel__thumbnail:hover {
    transform: scale(1.2, 1.2); }
  @media only screen and (min-width: 860px) {
    .fullCarousel__thumbnail {
      width: calc( 100% / 10); } }

.fullCarousel__viewer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  width: 100%; }

.fullCarousel__thumbnail > img {
  filter: grayscale(100%);
  object-fit: cover;
  width: 100%; }
  .fullCarousel__thumbnail > img:hover {
    filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(1):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(1) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(1):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(1) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(1):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(1) > img {
  filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(2):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(2) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(2):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(2) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(2):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(2) > img {
  filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(3):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(3) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(3):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(3) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(3):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(3) > img {
  filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(4):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(4) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(4):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(4) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(4):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(4) > img {
  filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(5):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(5) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(5):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(5) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(5):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(5) > img {
  filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(6):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(6) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(6):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(6) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(6):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(6) > img {
  filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(7):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(7) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(7):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(7) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(7):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(7) > img {
  filter: grayscale(0); }

.fullCarousel__switch:nth-of-type(8):checked ~ .fullCarousel__viewer > .fullCarousel__image:nth-of-type(8) {
  float: left;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  z-index: 1; }

.fullCarousel__switch:nth-of-type(8):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(8) {
  transform: scale(1.1, 1.1); }

.fullCarousel__switch:nth-of-type(8):checked ~ .fullCarousel__thumbnails > .fullCarousel__thumbnail:nth-of-type(8) > img {
  filter: grayscale(0); }

.headerBar {
  margin: 20px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 3px solid #EA1B64; }

.headerBar__logo > img {
  width: 70px; }
  @media only screen and (min-width: 600px) {
    .headerBar__logo > img {
      width: 100px; } }

.headerBar__titleLogoContainer {
  display: flex;
  flex-direction: row;
  align-items: center; }

.headerBar__titleContainer {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-family: "Roboto", serif;
  font-weight: 400; }

.headerBar__title {
  color: #EF4381;
  font-size: 1.6rem; }
  @media only screen and (min-width: 600px) {
    .headerBar__title {
      font-size: 3rem; } }

.headerBar__subtitle {
  font-size: 0.85rem;
  margin: 0.2rem 0.1rem; }
  @media only screen and (min-width: 600px) {
    .headerBar__subtitle {
      font-size: 1rem;
      margin: 0.5rem 0.25rem; } }

.navBar__navList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row; }

.navBar__navLink {
  text-decoration: underline;
  width: 100%;
  height: 100%;
  color: #EF4381;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
  font-size: 1.2em;
  transition: 0.2s background-color ease-in; }
  .navBar__navLink:hover {
    background-color: #EF4381;
    color: #FFFFFF; }

.progressBar {
  /* Reset the default appearance */
  margin: 5px;
  padding: 2.5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  border: none;
  height: 1.9rem;
  width: 300px; }

progress[value]::-webkit-progress-bar {
  background-color: #FFFFFF;
  border-radius: 3px;
  border: 1.5px solid #EF4381; }

.progressBar::-webkit-progress-value {
  background-color: white;
  background-image: -webkit-linear-gradient(left, #FFF, #EF4381); }

progress[value]::-moz-progress-bar {
  background-image: -moz-linear-gradient(left, #FFF, #EF4381);
  border-radius: 3px;
  border: 1px solid #C31F5D; }

/*************** RADIO BUTTONS & CHECKBOXES ***************/
/****  DEFAULT INPUT STYLES  ****/
.radioButtons__input,
.checkBoxes__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  position: relative;
  visibility: hidden;
  display: none; }

.radioButtons__label,
.checkBoxes__label {
  color: #EA1B64;
  display: inline-block;
  line-height: normal;
  position: relative; }

/****  RADIO BUTTONS  ****/
.radioButtons__label:before {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 1px solid transparent;
  color: #EA1B64;
  content: "\f1db";
  font-family: "FontAwesome";
  font-size: 1.5em;
  padding: 1px 2px; }

.radioButtons__input:checked + .radioButtons__label:before {
  border: 1px solid #EA1B64;
  color: #EA1B64;
  content: "\f111"; }

/****  CHECKBOXES  ****/
.checkBoxes__label:before {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  color: #EA1B64;
  content: "\f096";
  font-family: "FontAwesome";
  font-size: 1.5em;
  margin: 0 .25em 0 0;
  position: relative; }

/*  checkbox 1  */
.checkBoxes__input:checked + .checkBoxes__label--check:after {
  color: black;
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 1.25em;
  left: .09em;
  position: absolute; }

/*  checkbox 2 */
.checkBoxes__input:checked + .checkBoxes__label--x:after {
  color: black;
  content: "\f00d";
  font-family: "FontAwesome";
  font-size: 1.25em;
  left: .09em;
  position: absolute;
  top: .05em; }

/*  checkbox 3  */
.checkBoxes__input--checkInvert + .checkBoxes__label:before {
  color: black;
  position: relative; }

.checkBoxes__input--checkInvert:checked + .checkBoxes__label--checkInvert:after {
  color: #EA1B64;
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 1.25em;
  left: .09em;
  position: absolute;
  top: .03em; }

/*  checkbox 4 */
.checkBoxes__input:checked + .checkBoxes__label--xInvert:before {
  color: #EA1B64;
  content: "\f0c8";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 1.38em;
  line-height: 1.19;
  transform: translateY(-1px); }

.checkBoxes__input:checked + .checkBoxes__label--xInvert:after {
  color: white;
  content: "\f00d";
  font-family: "FontAwesome";
  font-size: 1.25em;
  left: .09em;
  margin-right: 5px;
  position: absolute;
  top: .04em; }

.searchBar {
  margin: 5px;
  padding: 2.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative; }

.searchBar--withSearchIndication {
  height: 150px;
  margin: 20px inherit; }

.searchBar__searchingToggle {
  display: none; }

.searchBar__searchInput {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  height: 2.2rem;
  border-radius: 0;
  padding: 0.1rem 0.3rem;
  margin: 0;
  border: none;
  border-bottom: 2px solid #EF4381;
  cursor: pointer; }

.searchBar__searchInput:focus {
  outline: none !important;
  border-bottom: 2px dashed #EF4381;
  border-radius: 0;
  box-shadow: none; }

.searchBar__searchButton {
  border: 2px solid #EA1B64;
  background-color: #EA1B64;
  color: #FFFFFF;
  height: 2.2rem;
  margin: 0;
  border-radius: 0 3px 3px 0;
  display: flex;
  align-items: center; }
  .searchBar__searchButton:hover {
    background-color: #EF4381; }
  .searchBar__searchButton:active {
    background-color: #C31F5D; }

.searchBar__searchButton > i {
  margin-right: 0.3rem;
  color: #FFFFFF; }

.searchBar__searchingBars {
  position: absolute;
  height: 100px;
  width: 5px;
  background-color: #EF4381;
  top: 25px;
  z-index: -5; }

.searchBar__searchingBars:nth-of-type(1) {
  left: 35px; }

.searchBar__searchingBars:nth-of-type(2) {
  left: 50px; }

.searchBar__searchingBars:nth-of-type(3) {
  left: 65px; }

.searchBar__searchingBars:nth-of-type(4) {
  left: 80px; }

.searchBar__searchingBars:nth-of-type(5) {
  left: 95px; }

.searchBar__searchingBars:nth-of-type(6) {
  left: 110px; }

.searchBar__searchingBars:nth-of-type(7) {
  left: 125px; }

.searchBar__searchingBars:nth-of-type(8) {
  left: 140px; }

.searchBar__searchingBars:nth-of-type(9) {
  left: 155px; }

.searchBar__searchingBars:nth-of-type(10) {
  left: 170px; }

.searchBar__searchingBars:nth-of-type(11) {
  left: 185px; }

.searchBar__searchingBars:nth-of-type(12) {
  left: 200px; }

.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(1),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(4),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(9),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(11) {
  animation-name: bobbleA;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 0.9s; }

.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(2),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(5),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(7),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(10) {
  animation-name: bobbleB;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 1.2s; }

.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(3),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(6),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(8),
.searchBar__searchingToggle:checked ~ .searchBar__searchingBars:nth-of-type(12) {
  animation-name: bobbleC;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 2s; }

@keyframes bobbleA {
  0% {
    top: 0px; }
  25% {
    top: -30px; }
  50% {
    top: 0px; }
  75% {
    top: 30px; }
  100% {
    top: 0px; } }
@keyframes bobbleB {
  0% {
    top: 0px; }
  40% {
    top: -20px; }
  70% {
    top: 20px; }
  100% {
    top: 0px; } }
@keyframes bobbleC {
  0% {
    top: 0px; }
  40% {
    top: -10px; }
  70% {
    top: 20px; }
  100% {
    top: 0px; } }
.teaserCard__categoryHeader {
  color: #FFFFFF;
  left: 10px;
  position: absolute; }

.teaserCard__dateText {
  color: #BDBDBD;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  left: 18px;
  position: relative; }

.teaserCard__articleHeader {
  font-family: "Roboto", serif;
  font-weight: 700;
  left: 20px;
  position: relative; }

.teaserCard__horizontalLine {
  border: 2px solid #EF4381;
  margin: 20px;
  position: relative;
  top: -5px; }

.zoomupDef {
  background-color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  transition: transform 0.4s ease-in;
  vertical-align: center; }

.zoomupDef__content {
  background-color: #FFFFFF;
  text-decoration: underline; }

.zoomupDef__def {
  background-color: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #EF4381;
  display: none;
  padding: 5px;
  position: relative;
  top: 2em;
  width: 20em; }

.zoomupDef:hover > .zoomupDef__def {
  background-color: #FFFFFF;
  display: inline;
  position: absolute;
  z-index: 5; }

.zoomupDef:hover > .zoomupDef__content {
  text-decoration: none; }

.zoomupDef:hover {
  border-radius: 3px;
  border: 1px solid #EA1B64;
  transform: scale(3, 3) translate3d(-20px, 5px, 30px);
  z-index: 5; }

.toggle {
  padding: 0;
  height: 35px;
  width: 80px;
  display: block;
  border: none;
  position: relative;
  overflow: hidden; }

.toggle__toggleInput {
  display: none;
  position: absolute; }

.toggle:focus {
  outline: none;
  border: none; }

.toggle__toggleInput:checked + .toggle__label {
  position: absolute;
  transition: border-width .1s linear;
  border: solid #EA1B64;
  background-color: white;
  border-width: 5px 5px 5px 45px; }

.toggle__toggleInput + .toggle__label:after {
  content: "OFF";
  color: #848383;
  font-size: .8em;
  line-height: 2;
  margin: 0 0 0 40px; }

.toggle__toggleInput:checked + .toggle__label:before {
  content: "ON";
  color: white;
  font-size: .8em;
  line-height: 2;
  margin: 0 0 0 -35px; }

.toggle__toggleInput:checked + .toggle__label:after {
  content: ""; }

.toggle__label {
  height: 35px;
  width: 100%;
  background-color: white;
  border: solid lightgray;
  border-width: 5px 45px 5px 5px;
  display: block;
  cursor: pointer;
  transition: border-width .1s linear; }

/* volume icons */
.toggle__label--volume {
  border-radius: 30px; }

.toggle__toggleInput:checked + .toggle__label--volume {
  border: solid #EA1B64;
  border-width: 5px 5px 5px 45px; }

.toggle--volume {
  border-radius: 30px; }

.toggle__toggleInput:checked + .toggle__label--volume:before {
  color: white;
  margin: 0 0 0 -32px;
  content: "\f028";
  font-family: "FontAwesome";
  font-size: 1.8em;
  transform: translate(-2px, -15px);
  display: inline-block; }

.toggle__toggleInput + .toggle__label--volume:after {
  content: "\f026";
  font-family: "FontAwesome";
  font-size: 1.8em;
  transform: translate(0, -15px);
  display: inline-block; }

/* floating side nav */
.sidenav {
  left: 0;
  margin: 0;
  padding: 0;
  top: 100px;
  right: 100%; }

.sidenav__item {
  list-style: none;
  width: 200px;
  height: 50px;
  left: -170px;
  position: relative;
  transition: left .2s linear;
  margin: 0 0 .75em 0;
  padding: 10px;
  color: white;
  line-height: 70px; }

.sidenav__item:hover {
  left: 0;
  transition: left .2s linear;
  -webkit-filter: brightness(9);
  filter: brightness(1.3); }

.sidenav__link {
  height: 50px;
  display: block;
  margin: -10px;
  padding: 10px;
  line-height: 30px;
  text-decoration: none;
  color: white; }

.sidenav__item--top {
  background-color: #EA1B64; }

.sidenav__item--middle {
  background-color: #EA1B64; }

.sidenav__item--bottom {
  background-color: #EA1B64; }

.sidenav__icon {
  color: white;
  font-size: 50px;
  float: right;
  margin: 5px 0 0 0; }

.modal__background {
  background-color: rgba(189, 189, 189, 0.6);
  bottom: 0;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 9998; }

.modal__closeLabel i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FFFFFF;
  z-index: 1; }

.modal__foreground {
  position: fixed;
  top: 100px;
  left: 36%;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 9999; }
  .modal__foreground > form {
    display: none; }

.modal__control {
  display: none; }
  .modal__control:checked ~ .modal__background, .modal__control:checked ~ .modal__foreground {
    opacity: 1;
    visibility: visible;
    display: block; }
  .modal__control:checked ~ .modal__foreground > form {
    display: inline-block; }

.tabs {
  position: relative;
  width: 670px;
  margin: 20px;
  padding: 10px;
  margin-top: 80px;
  padding: 0;
  border-radius: 3px; }

.tabs__tab, .tabs__tab--vertical, .tabs__tab--verticalMinimal {
  border-radius: 3px;
  width: 100px;
  padding: 18px;
  text-align: center;
  vertical-align: bottom; }

.tabs__tab {
  background-color: #EA1B64;
  color: #FFFFFF;
  position: relative;
  top: -57px;
  display: inline-block;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #BDBDBD;
  margin-right: 2px; }
  .tabs__tab:nth-child(2) {
    background-color: #CF477C;
    padding: 15px; }
  .tabs__tab:nth-child(3) {
    padding: 12px;
    background-color: #EF4381; }

.tabs__tab--vertical {
  background-color: #EA1B64;
  color: #FFFFFF;
  display: block;
  position: relative;
  margin: 0 0 2px 20px;
  left: -21px;
  border: 1px solid #BDBDBD;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  top: -57px; }
  .tabs__tab--vertical:nth-child(2) {
    background-color: #CF477C;
    padding: 15px; }
  .tabs__tab--vertical:nth-child(3) {
    padding: 12px;
    background-color: #EF4381; }
  .tabs__tab--vertical:nth-child(2) {
    padding: 15px;
    width: 95%;
    left: -7%; }
  .tabs__tab--vertical:nth-child(3) {
    padding: 12px;
    width: 90%;
    left: -2px; }

.tabs__tab--verticalMinimal {
  background-color: #FFFFFF;
  color: #EA1B64;
  display: block;
  position: relative;
  margin: 0 0 2px 20px;
  left: -21px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-align: left;
  font-weight: 700;
  opacity: .5; }
  .tabs__tab--verticalMinimal:nth-child(2), .tabs__tab--verticalMinimal:nth-child(3) {
    background-color: #FFFFFF; }

.tabs--vertical {
  position: relative;
  width: 670px;
  margin: 20px;
  padding: 10px;
  padding: 0;
  border-radius: 3px;
  left: 100px; }

.tabGroup {
  align-items: flex-end;
  position: absolute;
  display: flex;
  top: -12px;
  left: -15px;
  width: 100%;
  margin: 10px;
  padding: 5px; }
  .tabGroup > label[class="tabs__tab"]:nth-child(0) {
    margin: -1px; }
  .tabGroup > label[class="tabs__tab"]:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .tabGroup > label[class="tabs__tab"]:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .tabGroup > label[class="tabs__tab"]:not(:first-child):not(:last-child) {
    border-radius: 0; }

.tabVerticalGroup {
  position: absolute;
  top: 42px;
  left: -113px;
  width: 100px;
  margin: 10px;
  padding: 5px; }
  .tabVerticalGroup > label[class="tabs__tab"] {
    margin: -1px; }
  .tabVerticalGroup > label[class="tabs__tab"]:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .tabVerticalGroup > label[class="tabs__tab"]:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .tabVerticalGroup > label[class="tabs__tab"]:not(:first-child):not(:last-child) {
    border-radius: 0; }

.tabs__panel, .tabs__panelMinimal {
  display: none;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  top: 0;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  z-index: 2; }

.tabs__panel {
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  border-top-left-radius: 0; }

.tabs__panelMinimal {
  border-bottom: 5px solid #EA1B64; }

.tabs__paragraph {
  color: #6D6D6D;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.tabs__mainImage {
  margin: 20px;
  padding: 10px;
  max-width: 200px;
  max-height: 300px;
  vertical-align: middle;
  border-radius: 20px; }

.tabs__mainContentContainer {
  position: relative;
  padding: 10px;
  width: 60%; }

.tabs__panelControl[name="tab-controls-vertical"] {
  display: none; }
  .tabs__panelControl[name="tab-controls-vertical"]:checked + .tabs__panel {
    display: flex; }
  .tabs__panelControl[name="tab-controls-vertical"]:checked[id*="tab1"] ~ .tabVerticalGroup .tabs__tab--vertical[class*="tab1"], .tabs__panelControl[name="tab-controls-vertical"]:checked[id*="tab2"] ~ .tabVerticalGroup .tabs__tab--vertical[class*="tab2"], .tabs__panelControl[name="tab-controls-vertical"]:checked[id*="tab3"] ~ .tabVerticalGroup .tabs__tab--vertical[class*="tab3"] {
    border-right: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #EA1B64;
    z-index: 1; }

.tabs__panelControl[name="tab-controls"] {
  display: none; }
  .tabs__panelControl[name="tab-controls"]:checked + .tabs__panel {
    display: flex; }
  .tabs__panelControl[name="tab-controls"]:checked[id*="tab1"] ~ .tabGroup .tabs__tab[class*="tab1"], .tabs__panelControl[name="tab-controls"]:checked[id*="tab2"] ~ .tabGroup .tabs__tab[class*="tab2"], .tabs__panelControl[name="tab-controls"]:checked[id*="tab3"] ~ .tabGroup .tabs__tab[class*="tab3"] {
    border-bottom: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #EA1B64;
    z-index: 1; }

.tabs__panelControl[name="tab-controls-minimal"] {
  display: none; }
  .tabs__panelControl[name="tab-controls-minimal"]:checked + .tabs__panelMinimal {
    display: flex; }
  .tabs__panelControl[name="tab-controls-minimal"]:checked[id*="tab1"] ~ .tabVerticalGroup .tabs__tab--verticalMinimal[class*="tab1"], .tabs__panelControl[name="tab-controls-minimal"]:checked[id*="tab2"] ~ .tabVerticalGroup .tabs__tab--verticalMinimal[class*="tab2"], .tabs__panelControl[name="tab-controls-minimal"]:checked[id*="tab3"] ~ .tabVerticalGroup .tabs__tab--verticalMinimal[class*="tab3"] {
    color: #C31F5D;
    border-bottom: 3px solid #C31F5D;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.8s ease; }

/********** LIST STYLES **********/
/* Compiled on timestamp() */
.uiList {
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-radius: 3px;
  margin: 1em;
  padding: 0; }

.uiList__item {
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 0;
  padding: .5em .5em .5em 1em;
  list-style-position: inside;
  opacity: .6;
  cursor: pointer; }

.uiList__item:hover {
  opacity: 1; }

.list--unOrdered {
  list-style: none; }

/* decorative styles  */
.uiList__item--unOrdered:before {
  content: "\f111";
  font-family: "FontAwesome";
  font-size: .75em;
  display: inline-block;
  color: #C31F5D;
  width: 1.5em; }

.list--primary {
  border-color: #C31F5D; }

.uiList__item--primary {
  border-color: #C31F5D; }

/* dark styles */
.uiList--dark {
  border-color: dimgray; }

.uiList__item--dark {
  border-color: dimgray;
  border-width: 0 0 1px .5em;
  padding: .5em .5em .5em .5em;
  opacity: 1; }

.uiList__item--dark:hover {
  padding: .5em .5em .5em .5em;
  border: solid #959595;
  border-width: 0 0 1px .5em;
  border-bottom-color: dimgray; }

.uiList__item--dark:hover:before {
  color: #959595; }

.uiList__item--dark:before {
  color: dimgray;
  margin-left: -5px; }

.uiList__item--dark:first-child {
  border-top-left-radius: 2px; }

.uiList__item--dark:last-child {
  border-bottom-left-radius: 2px; }

/********** Table Styles **********/
/* Compiled on timestamp() */
.uiTableContainer {
  border: 2px solid #C31F5D;
  display: inline-block;
  border-radius: 3px; }

.uiTable {
  border-collapse: collapse; }

.uiTable__row {
  border-bottom: 2px solid #C31F5D; }

.uiTable_footRow:last-child {
  border-bottom: none; }

.uiTable__cell {
  padding: .75em; }

/*    align all cell contents    */
.uiTable--left {
  text-align: left; }

.uiTable--center {
  text-align: center; }

.uiTable--right {
  text-align: right; }

/*    align individual cell contents    */
.uiTable__cell--left {
  text-align: left; }

.uiTable__cell--center {
  text-align: center; }

.uiTable__cell--right {
  text-align: right; }

/* dark style */
.uiTable__cell--dark {
  background-color: dimgray;
  color: white; }

.uiTableContainer--dark {
  border-color: dimgray; }

.uiTable_bodyRow--dark {
  border-color: dimgray; }

.uiTable_bodyRow--dark:nth-child(even) {
  background-color: lightgray; }

.uiTable_headRow--dark {
  border-color: dimgray; }

/********** READABILITY PANEL **********/
html {
  -webkit-transition: font-size .2s linear;
  font-size: 100%;
  transition: font-size .2s linear; }

.accContainer {
  background-color: #d3d3d3;
  border-radius: 6px;
  border-width: 2px 4px 0 2px;
  border: solid #d3d3d3;
  display: inline-block;
  font-size: 0;
  position: relative; }

.accToggle {
  border-right: 1px solid #FFF;
  display: inline-block;
  font-size: initial; }

.accToggle:last-child {
  border: none; }

.accToggle .toggle__label {
  position: absolute;
  top: 0; }

.acc_Invert {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.acc_Grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.acc_LargerFont {
  font-size: 125% !important;
  -webkit-transition: font-size .1s linear;
  transition: font-size .1s linear; }

.acc_LargerFont .toggle__toggleInput + .toggle__label:after {
  line-height: 0; }

.acc_LargerFont .toggle__toggleInput:checked + .toggle__label:before {
  line-height: 0; }

/* toggle icons */
.accToggle .toggle__toggleInput:checked + .toggle__label--accInvert:before {
  content: "\f042";
  font-family: "FontAwesome";
  font-size: 1.5em;
  left: 0;
  line-height: 100%;
  margin: 0 0 0 -33px;
  position: absolute; }

.accToggle .toggle__toggleInput + .toggle__label--accInvert:after {
  content: "\f042";
  font-family: "FontAwesome";
  font-size: 1.5em;
  left: 0;
  line-height: 100%;
  margin: 0 0 0 45px;
  position: absolute; }

.accToggle .toggle__toggleInput:checked + .toggle__label--accGrayScale:before {
  color: #fff;
  content: "\f26c";
  font-family: "FontAwesome";
  font-size: 1.25em;
  line-height: 1.5em; }

.accToggle .toggle__toggleInput + .toggle__label--accGrayScale:after {
  color: #EA1B64;
  content: "\f26c";
  font-family: "FontAwesome";
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 0 0 0 43px; }

.accToggle .toggle__toggleInput:checked + .toggle__label--accLargerFont:before {
  color: #fff;
  content: "\f031";
  font-family: "FontAwesome";
  font-size: 1.25em;
  line-height: 1.1em; }

.accToggle .toggle__toggleInput + .toggle__label--accLargerFont:after {
  color: #000;
  content: "\f031";
  font-family: "FontAwesome";
  margin: 0 0 0 47px; }

/********** PAGINATION STYLES **********/
/* for hover effects on :before & :after elements
  in safari add these to parent element */
.paginationList {
  cursor: pointer;
  pointer-events: none; }

.paginationList:before {
  content: "\f053"; }

.paginationList:after {
  content: "\f054"; }

.paginationList:before,
.paginationList:after {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: .75em;
  padding: .3em .75em;
  pointer-events: auto; }

.paginationList__item {
  /* counter-increment: pageCount; */
  color: darkgray;
  cursor: pointer;
  display: inline;
  font-size: .75em;
  font-weight: bold;
  list-style-type: none;
  margin: 0 .5em;
  padding: .3em .75em;
  pointer-events: auto; }

.paginationList__item a {
  color: darkgray;
  text-decoration: none; }

.paginationList__item a:hover {
  text-decoration: none; }

/*
.paginationList__item:before {
   content: counter(pageCount); 
}
*/
.paginationList__item--doubleDigit {
  padding: .3em .5em; }

.paginationList__item--spacer {
  padding: .3em .7em; }

/*  FF only  */
@-moz-document url-prefix() {
  .paginationList__item--spacer {
    padding: .3em .6em; } }
/* Safari only */
_::-webkit-full-page-media,
_:future,
:root .paginationList__item--spacer {
  padding: .3em .6em; }

.paginationList__item--spacer:before {
  content: "\f141";
  font-family: FontAwesome; }

.paginationList--simple .paginationList__item--spacer {
  cursor: default; }

.paginationList--round .paginationList__item--spacer:hover,
.paginationList--square .paginationList__item--spacer:hover {
  background-color: inherit;
  cursor: default; }

.paginationList--round:before, .paginationList--round:after {
  font-size: 1.95em;
  padding: 0;
  vertical-align: middle; }

.paginationList--round:before {
  content: "\f137"; }

.paginationList--round:after {
  content: "\f138"; }

.paginationList__item--round:hover a,
.paginationList__item--square:hover a {
  color: white; }

.paginationList--primary:before,
.paginationList--primary:after,
.paginationList--simple:before,
.paginationList--simple:after {
  color: #EA1B64; }

.paginationList--simple .paginationList__item--active a,
.paginationList--simple .paginationList__item a:hover {
  color: #EA1B64; }

.paginationList__item--round {
  border-radius: 50%;
  border: 2px solid #EA1B64; }

.paginationList__item--round:hover {
  background-color: #EA1B64;
  color: white; }

.paginationList__item--roundActive,
.paginationList__item--squareActive {
  background-color: #EA1B64;
  color: white; }

.paginationList__item--roundActive a,
.paginationList__item--squareActive a {
  color: white; }

.paginationList__item--square {
  border: 2px solid #EA1B64; }

.paginationList__item--square:hover {
  background-color: #EA1B64;
  color: white; }

.paginationList--primary a,
.paginationList--primary .paginationList__item--spacer {
  color: #EA1B64; }

.paginationList__item--roundActive a {
  color: white; }

.altCarousel {
  margin: 20px;
  padding: 10px;
  width: 95%;
  max-width: 1200px;
  position: relative;
  display: flex; }

.altCarousel__image {
  width: 0;
  opacity: 0;
  transition: opacity 1s ease-in; }

.altCarousel__switch {
  display: none; }

.altCarousel__viewer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  width: 100%; }

.altCarousel__switchLeft, .altCarousel__switchRight {
  height: 100%;
  padding: 10px;
  border-color: #EF4381;
  border-style: solid;
  display: flex;
  align-items: center; }

.altCarousel__switchRight {
  border-radius: 0 5px 5px 0;
  border-width: 1px 1px 1px 0; }

.altCarousel__switchLeft {
  border-radius: 5px 0 0 5px;
  border-width: 1px 0 1px 1px; }

.altCarousel__arrowRight, .altCarousel__arrowLeft {
  cursor: pointer; }

.altCarousel__arrowRight:hover > i {
  color: white; }

.altCarousel__arrowLeft:hover > i {
  color: white; }

.altCarousel__switchLeft:hover, .altCarousel__switchRight:hover {
  height: 100%;
  padding: 10px;
  background-color: #EA1B64;
  display: flex;
  align-items: center;
  color: white; }

.altCarousel__switchLeft:hover > i, .altCarousel__switchRight:hover > i {
  color: white; }

[class*="altCarousel__arrow"] {
  display: none; }

.altCarousel .altCarousel__switch:nth-of-type(1):checked ~ .altCarousel__viewer .altCarousel__switchLeft .altCarousel__arrowLeft:nth-of-type(3),
.altCarousel .altCarousel__switch:nth-of-type(2):checked ~ .altCarousel__viewer .altCarousel__switchLeft .altCarousel__arrowLeft:nth-of-type(1),
.altCarousel .altCarousel__switch:nth-of-type(3):checked ~ .altCarousel__viewer .altCarousel__switchLeft .altCarousel__arrowLeft:nth-of-type(2) {
  display: inline; }

.altCarousel .altCarousel__switch:nth-of-type(1):checked ~ .altCarousel__viewer .altCarousel__switchRight .altCarousel__arrowRight:nth-of-type(2),
.altCarousel .altCarousel__switch:nth-of-type(2):checked ~ .altCarousel__viewer .altCarousel__switchRight .altCarousel__arrowRight:nth-of-type(3),
.altCarousel .altCarousel__switch:nth-of-type(3):checked ~ .altCarousel__viewer .altCarousel__switchRight .altCarousel__arrowRight:nth-of-type(1) {
  display: inline; }

.altCarousel__switch:nth-of-type(1):checked ~ .altCarousel__viewer > .altCarousel__image:nth-of-type(1) {
  width: 100%;
  opacity: 1; }

.altCarousel__switch:nth-of-type(2):checked ~ .altCarousel__viewer > .altCarousel__image:nth-of-type(2) {
  width: 100%;
  opacity: 1; }

.altCarousel__switch:nth-of-type(3):checked ~ .altCarousel__viewer > .altCarousel__image:nth-of-type(3) {
  width: 100%;
  opacity: 1; }

.slideCarousel {
  margin: 20px;
  padding: 10px;
  width: 95%;
  max-width: 1600px;
  position: relative;
  display: flex; }

.slideCarousel__image {
  width: calc( calc(100% / 9) - 45px);
  margin: 20px;
  height: auto; }

.slideCarousel__switch {
  display: none; }

.slideCarousel__container {
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
  overflow-x: hidden; }

.slideCarousel__viewer {
  position: relative;
  display: inline-block;
  width: calc(100% * 3);
  transition: all 1.2s ease-in-out; }

.slideCarousel__switchLeft, .slideCarousel__switchRight {
  padding: 10px;
  border-color: #EF4381;
  border-style: solid;
  display: flex;
  align-items: center;
  align-self: stretch; }

.slideCarousel__switchRight {
  border-radius: 0 5px 5px 0;
  border-width: 1px 1px 1px 0; }

.slideCarousel__switchLeft {
  border-radius: 5px 0 0 5px;
  border-width: 1px 0 1px 1px; }

.slideCarousel__arrowRight, .slideCarousel__arrowLeft {
  cursor: pointer; }

.slideCarousel__arrowRight:hover > i {
  color: white; }

.slideCarousel__arrowLeft:hover > i {
  color: white; }

.slideCarousel__switchLeft:hover, .slideCarousel__switchRight:hover {
  padding: 10px;
  background-color: #EA1B64;
  display: flex;
  align-items: center;
  color: white; }

.slideCarousel__switchLeft:hover > i, .slideCarousel__switchRight:hover > i {
  color: white; }

[class*="slideCarousel__arrow"] {
  display: none; }

.slideCarousel .slideCarousel__switch:nth-of-type(1):checked ~ .slideCarousel__switchLeft .slideCarousel__arrowLeft:nth-of-type(3),
.slideCarousel .slideCarousel__switch:nth-of-type(2):checked ~ .slideCarousel__switchLeft .slideCarousel__arrowLeft:nth-of-type(1),
.slideCarousel .slideCarousel__switch:nth-of-type(3):checked ~ .slideCarousel__switchLeft .slideCarousel__arrowLeft:nth-of-type(2) {
  display: inline; }

.slideCarousel .slideCarousel__switch:nth-of-type(1):checked ~ .slideCarousel__container .slideCarousel__viewer {
  left: 0; }

.slideCarousel .slideCarousel__switch:nth-of-type(2):checked ~ .slideCarousel__container .slideCarousel__viewer {
  left: -100%; }

.slideCarousel .slideCarousel__switch:nth-of-type(3):checked ~ .slideCarousel__container .slideCarousel__viewer {
  left: -200%; }

.slideCarousel .slideCarousel__switch:nth-of-type(1):checked ~ .slideCarousel__switchRight .slideCarousel__arrowRight:nth-of-type(2),
.slideCarousel .slideCarousel__switch:nth-of-type(2):checked ~ .slideCarousel__switchRight .slideCarousel__arrowRight:nth-of-type(3),
.slideCarousel .slideCarousel__switch:nth-of-type(3):checked ~ .slideCarousel__switchRight .slideCarousel__arrowRight:nth-of-type(1) {
  display: inline; }

.sideBar {
  position: sticky;
  position: -webkit-sticky;
  width: 20%;
  top: 0px;
  height: 100vh;
  overflow-y: auto;
  background-color: #FFFFFF; }
  .sideBar a {
    text-decoration: none; }

.sideBar__items {
  list-style-type: none; }

.sideBar--scrollSpyActive {
  border-left: 3px solid #EA1B64; }

main {
  width: 80%; }

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start; }

.row {
  width: 100%;
  display: flex; }

[class^="col"] {
  border: 2px solid white; }

.col1 {
  width: 8.33333%; }

.col2 {
  width: 16.66667%; }

.col3 {
  width: 25%; }

.col4 {
  width: 33.33333%; }

.col5 {
  width: 41.66667%; }

.col6 {
  width: 50%; }

.col7 {
  width: 58.33333%; }

.col8 {
  width: 66.66667%; }

.col9 {
  width: 75%; }

.col10 {
  width: 83.33333%; }

.col11 {
  width: 91.66667%; }

.col12 {
  width: 100%; }

.col--styled {
  align-items: center;
  background-color: #EF4381;
  border-radius: 20px;
  color: #FFFFFF;
  display: flex;
  height: 35px;
  justify-content: center; }

/*# sourceMappingURL=main.css.map */
