// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

// Font Variables
$roboto-slab: 'Roboto', serif;
$open-sans: 'Open Sans', sans-serif;

$baseColorDark: #C31F5D;
$baseColorMed: #EA1B64;
$baseColorLight: #EF4381;
$baseColorAlt: #CF477C; // USED FOR FORM TEXT INPUT BACKGROUND COLOR
$defaultColor: #202020; // MAIN TEXT COLOR, PICKED FROM BLACK BUTTON IN BUTTON GROUPS
$altColor: #BDBDBD; // SUB TEXT COLOR, PICKED FROM GRAY 'DISABLED' BUTTON IN BUTTON GROUPS 
