
/////BUTTONS//////

%button{
  border-radius: $borderRoundedSoft;
  cursor:pointer;
  display: inline-block;
  position: relative;
  @include componentBoxMed;
  @include lovehate{$self:true}
  transition:$transitionFast background-color;
}

//CARD SECTION//

%card{
  border:1px solid $altColor;
  border-radius:3px;
  margin:40px;
  position:relative;
  width:290px;
}

%card__image{
  position:relative;
  z-index:-1;
  max-width: 100%;
}

//Positional Classes///

.right{
  float:right;
}

.left{
  float:left;
}

.center{
  margin-left:auto;
  margin-right:auto;
}

