
//CARD SECTION//

%card{
  border:1px solid grey;
  border-radius:3px;
  height:450px;
  margin:40px;
  position:relative;
  width:290px;
}

%card__image{
  position:relative;
  z-index:-1;
}

////////////////

.right{
  right:0px;
}

.left{
  left:0px;
}

.center{
  margin-left:auto;
  margin-right:auto;
}